aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_CHANGE_HEADER_"
  description="_A_UI_GROUP_CHANGE_DESCRIPTION_"
  :props="['change', 'model-value']"
)
  a-textarea(
    :change="changeModel"
    :model-value="model"
    label="Textarea"
  )
  div model:
  pre {{ model }}
