aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_PAGE_DATEPICKER_RANGE_BASIC_HEADER_"
  description="_PAGE_DATEPICKER_RANGE_BASIC_DESCRIPTION_"
  :props="['v-model', 'label']"
)
  a-datepicker-range(
    v-model="model"
    label="Aloha"
  )
  .a_mt_3 model: {{ model }}
