aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_SELECT_STYLE_COMPONENT_DESCRIPTION_"
    )

    page-select-style-basic

    page-select-style-filter-groups

    aloha-table-props(
      :data="dataProps"
    )
