aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_FIELDSET_CHILDREN_GROUP_TREE_HEADER_"
  description="_A_FIELDSET_CHILDREN_GROUP_TREE_DESCRIPTION_"
  :props="['children']"
)
  a-fieldset(
    v-model="model"
    :children="children"
    label="Fieldset"
  )
  div model: {{ model }}
