aloha-page(
  page-title="DatepickerRange"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_DATEPICKER_RANGE_DESCRIPTION_"
    )

    page-datepicker-range-basic

    page-datepicker-range-custom-first-day

    page-datepicker-range-disabled-variants

    page-datepicker-range-format-customization

    page-datepicker-range-help-text

    aloha-table-props(
      :data="dataProps"
    )
