@use "utils/reset";
@use "utils/global";
@use "utils/display";
@use "utils/spacing";
@use "utils/sizing";
@use "utils/color";
@use "utils/flex";
@use "utils/grid";
@use "utils/screenreader";
@use "utils/position";
@use "utils/checkbox_radio";
@use "utils/list";
@use "utils/list_group";
@use "utils/list_columns";
@use "utils/dropdown";
@use "text/text_size";
@use "text/text_alignment";
@use "text/text_wrapping";
@use "text/text_transform";
@use "text/text_line_height";
@use "utils/button";
@use "utils/button_group";
@use "utils/button_close";
@use "utils/float";
@use "utils/alert";
@use "utils/modal";
@use "utils/notification";
@use "utils/spinner";
@use "utils/badge";
@use "utils/acordion";
@use "utils/progress";
@use "utils/overflow";
@use "utils/tooltip";
@use "utils/border_radius";
@use "utils/border";
// Aloha-css



@use "components/AIcon";
@use "components/AButton";
@use "components/AElement";
@use "components/AResizer";
@use "components/AVerticalScroll";
@use "components/ui/ui";
@use "components/ATabs";
@use "components/AMenu2";
@use "components/ACloak";
@use "components/ASpinner";
@use "components/ARate";
@use "components/ALoading";
@use "components/AWizard";
@use "components/AGroupButtonDropdown";
@use "components/AShowMore";
@use "components/AProgressCirle";
@use "components/AFormElement/ATextarea";
@use "components/ui/AInputNumber";
@use "components/ui/AInputNumberRange";
@use "components/ui/ADatepickerRange";
@use "components/AForm";
@use "components/ADivider";
@use "components/APagination";
@use "components/AFilters";
@use "components/ATable";
@use "components/AModal";

.floating {
  max-width: fit-content;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
}
.a_tooltip__container, .a_dropdown__menu, .a_select_menu, .pux_datepicker__popup, .ui_select_menu {
  /* Float on top of the UI */
  position: absolute;

  /* Avoid layout interference */
  max-width: fit-content;
  width: max-content;
  top: 0;
  left: 0;
}
.a_tooltip__arrow {
  position: absolute;
}

.a_search_highlight {
  color: red;
}
.a_popup_container,
.a_select_container {
  position: relative;
  height: 0;
  top: 100%;
}
.a_popup_container {
  z-index: 1900;
}
.a_select_container {
  z-index: 1901;
}
.a_dropdown__menu {
  box-shadow: 0 0 7px 3px var(--a_color_gray_600);
  > ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}



.a_dropdown__caret {
  margin: 0;
}
* + .a_dropdown__caret {
  margin-left: 0.5rem;
}
