aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_VALIDATED_JSON_COMPONENT_DESCRIPTION_"
    )

    page-validated-json-mode-single

    page-validated-json-mode-list

    page-validated-json-mode-list-typed
