.a_divider {
  --a_divider_margin_y: 0.5rem;
  --a_divider_bg: var(--a_color_gray_300);

  height: 0;
  margin: var(--a_divider_margin_y) 0;
  overflow: hidden;
  border-top: 1px solid var(--a_divider_bg);
  opacity: 1;
}