$a_breakpoint_touch: 1023px !default;

.a_filters_top {
  --a_filters_top_padding: 0.5rem;
  --a_filters_top_form_width: 50%;
  --a_filters_top_form_max_width: 500px;
  --a_filters_top_label_padding_left: 2rem;
  --a_filters_top_label_width: 34%;
  --a_filters_top_subgroup_width: 66%;
  --a_filters_top_always_visible_padding: 1rem 1rem 1rem 2rem;

  //display: flex;
  //align-items: start;
  //justify-content: space-between;
  //flex-wrap: wrap;
  padding: var(--a_filters_top_padding);

  .a_form_element_number_controls .a_form_element {
    width: 100%;
  }
  .pux_datepicker {
    --a_datepicker_width: 100%;
  }
}
.a_filters_top__main_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.a_filters_top__main {
  width: 100%;
}

.a_filter_horizontal__wrapper {
  --a_filter_hor_divider_border_width: 1px;
  --a_filter_hor_divider_border_color: var(--a_color_gray_600);
  --a_filter_hor_width: 800px;
  --a_filter_hor_max_width: calc(100vw - 3rem);
  --a_filter_max_height: calc(100vh - 3rem);
  --a_filter_hor_padding_x: 1rem;
  --a_filter_hor_padding_y: 1rem;
  --a_filter_hor_body_max_height: calc(100vh - 1rem - 113px);
  --a_filter_hor_footer_bg: rgba(255, 255, 255, 0.7);
  --a_filter_hor_footer_actions_bg: var(--a_color_white);

  width: var(--a_filter_hor_width);
  max-width: var(--a_filter_hor_max_width);
  max-height: var(--a_filter_max_height);
  overflow-y: hidden;
  padding: 0;
}
.a_filter_horizontal__header__wrapper {
  padding: var(--a_filter_hor_padding_y) var(--a_filter_hor_padding_x) 0 var(--a_filter_hor_padding_x);
}
.a_filter_horizontal__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: var(--a_filter_hor_divider_border_width) solid var(--a_filter_hor_divider_border_color);
  padding-bottom: var(--a_filter_hor_padding_y);
}
.a_filter_horizontal__header__texts {
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: .5rem;
}
.a_filter_horizontal__header__texts__filter {
  padding-right: .5rem;
}
.a_filter_horizontal__header__texts__new {

}
.a_filter_horizontal__hr {
  border: var(--a_filter_hor_hr_border_width) solid var(--a_filter_hor_hr_border_color);
  margin: var(--a_filter_hor_hr_margin_y) 0;
}
.a_filter_horizontal__body__wrapper {
  position: relative;
  overflow-y: auto;
  max-height: var(--a_filter_hor_body_max_height);
}
.a_filter_horizontal__body {
  padding: var(--a_filter_hor_padding_y) var(--a_filter_hor_padding_x) 0 var(--a_filter_hor_padding_x);

  .a_form_element__container {
    display: flex;
    flex-basis: 181px;
    flex-grow: 1;
    width: 100%;
  }
}
.a_filter_horizontal__body__form {
  padding: 0;
  .pux_datepicker {
    --a_datepicker_width: 100%;
  }
  .a_form_element_number_controls .a_form_element {
    --a_input_number_width: 100% !important;
  }
}
.a_filter_horizontal__add_filter {
  position: relative;
}
.a_filter_horizontal__add_filter__wrapper {
  margin: var(--a_filter_hor_padding_y) 0;
}
.a_filter_horizontal__save_actions {
  margin: var(--a_filter_hor_padding_y) 0;
  .a_btn + .a_btn {
    margin-left: .5rem;
  }
}
.a_filter_horizontal__footer {
  text-align: right;
  position: sticky;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: var(--a_filter_hor_padding_x);
    right: var(--a_filter_hor_padding_x);
    border-top: var(--a_filter_hor_divider_border_width) solid var(--a_filter_hor_divider_border_color);
  }
}
.a_filter_horizontal__footer__actions {
  display: inline-block;
  background-color: var(--a_filter_hor_footer_actions_bg);
  padding: var(--a_filter_hor_padding_y) var(--a_filter_hor_padding_x);
}
.a_filter_horizontal__footer__actions__btn_close {
  margin-left: .5rem;
}

.a_filters_top__form {
  max-width: var(--a_filters_top_form_max_width);
  padding: 0;
}
.a_filters_top__save_select {
  width: 250px;
  margin-right: 0.5rem;
}
.a_filters_top__delete_filter_saved {
  margin-right: 0.5rem;
}
.a_filters_top__search {
  margin-left: 0.5rem;
}
.a_filters_top__always_visible {
  border: 1px solid var(--a_color_gray_500);
  padding: var(--a_filters_top_always_visible_padding);
  border-radius: var(--a_border_radius);
  margin-top: 1rem;
}
.a_filters_top__filter_ui_label {
  width: var(--a_filters_top_label_width);
  padding-right: 0.5rem;
  font-weight: bold;
}
.a_filters_top__filter_ui_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.a_filters_top__filter_ui_subgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--a_filters_top_subgroup_width);
}
.a_filters_top__filter_ui {
  width: 100%;
}
.a_filters_top__filter_ui_delete {
  margin-left: 0.5rem;
}
.a_filters_top__toggle_filter {
  margin-right: 0.5rem;
  margin-top: .5rem;
}

.a_filters_top__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap: .5rem;
  &:first-child {
    margin-top: 0;
  }
  .a_filters_top__search {
    margin-left: 0;
  }
}
.a_filters_top__footer__select {
  display: inline-block;
}

.a_filters_center {
  --a_table_filters_center_padding: 1rem;

  margin-top: -0.5rem;
  margin-left: -0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--a_table_filters_center_padding);
}
.a_filters_center__item {
  margin-top: .5rem;
  margin-left: .5rem;
  &:first-child {
    margin-left: 0;
  }
  .aloha_btn .a_filters_center__item__value {
    margin-left: 0;
  }
}
.a_filters_center__item__label {
  margin-right: .25rem;
}
.a_filters_center__item__label__suffix {
  margin-left: .25rem;
}

.a_filters_right__filter_ui {
  margin-bottom: .5rem;
}
.a_filters_top__filter_main {
  margin-top: 0;
  .a_filters_top__filter_ui_label {
    padding-left: 0;
    padding-right: 0;
  }
  .a_filters_top__filter_ui_subgroup {
    padding-left: 1rem;
  }
}
.a_filters_top__save {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
}

@media screen and (max-width: 1407px) {
  .a_filters_top {
    --a_filters_top_form_width: 100%;
  }
  .a_filters_top__save {
    margin-top: 1rem;
    width: 100%;
  }
  .a_filters_top__filter_main {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .a_filters_top {
    --a_filters_top_always_visible_padding: .5rem;
  }
  .a_filters_top__header {
    flex-direction: column;
  }
  .a_filters_top__header__group {
    flex-wrap: wrap;
  }
  .a_filters_top__toggle_filter {
    margin-bottom: 0.5rem;
  }
  .a_filters_top__save_select {
    margin-bottom: 0.5rem;
  }
  .a_filters_top__filter_ui_group {
    flex-direction: column;
    align-items: start;
  }
  .a_filters_top__filter_ui_label {
    width: 100%;
  }
  .a_filters_top__filter_ui_subgroup {
    width: 100%;
  }
  .a_filters_top__filter_main {
    .a_filters_top__filter_ui_subgroup {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: #{$a_breakpoint_touch})  {
  .a_form_element_label {
    padding-bottom: 0;
  }

  .a_filters__form_element {
    padding-top: 0;
  }
}