.a_filters_top {
  --a_filters_top_padding: 0.5rem;
  --a_filters_top_form_width: 50%;
  --a_filters_top_label_padding_left: 2rem;
  --a_filters_top_label_width: 34%;
  --a_filters_top_subgroup_width: 66%;
  --a_filters_top_always_visible_padding: 1rem 1rem 1rem 2rem;

  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--a_filters_top_padding);

  .a_form_element_number_controls .a_form_element {
    width: 100%;
  }
  .pux_datepicker {
    --a_datepicker_width: 100%;
  }
}
.a_filters_top__form {
  width: var(--a_filters_top_form_width);
}
.a_filters_top__save_select {
  width: 250px;
  margin-right: 0.5rem;
}
.a_filters_top__delete_filter_saved {
  margin-right: 0.5rem;
}
.a_filters_top__search {
  margin-left: 0.5rem;
}
.a_filters_top__always_visible {
  border: 1px solid var(--a_color_gray_500);
  padding: var(--a_filters_top_always_visible_padding);
  border-radius: var(--a_border_radius);
  margin-top: 1rem;
}
.a_filters_top__filter_ui_label {
  width: var(--a_filters_top_label_width);
  padding-right: 0.5rem;
  font-weight: bold;
}
.a_filters_top__filter_ui_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.a_filters_top__filter_ui_subgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--a_filters_top_subgroup_width);
}
.a_filters_top__filter_ui {
  width: 100%;
}
.a_filters_top__filter_ui_delete {
  margin-left: 0.5rem;
}
.a_filters_top__toggle_filter {
  margin-right: 0.5rem;
  margin-top: .5rem;
}

.a_filters_top__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap: .5rem;
  &:first-child {
    margin-top: 0;
  }
  .a_filters_top__search {
    margin-left: 0;
  }
}
.a_filters_top__footer__select {
  display: inline-block;
}

.a_filters_center {
  --a_table_filters_center_padding: 1rem;

  margin-top: -0.5rem;
  margin-left: -0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--a_table_filters_center_padding);
}
.a_filters_center__item {
  margin-top: .5rem;
  margin-left: .5rem;
  .aloha_btn .a_filters_center__item__value {
    margin-left: 0;
  }
}
.a_filters_center__item__label {
  margin-right: .25rem;
}
.a_filters_center__item__label__suffix {
  margin-left: .25rem;
}

.a_filters_right__filter_ui {
  margin-bottom: .5rem;
}
.a_filters_top__filter_main {
  margin-top: 0;
  .a_filters_top__filter_ui_label {
    padding-left: 0;
    padding-right: 0;
  }
  .a_filters_top__filter_ui_subgroup {
    padding-left: 1rem;
  }
}
.a_filters_top__save {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
}

@media screen and (max-width: 1407px) {
  .a_filters_top {
    --a_filters_top_form_width: 100%;
  }
  .a_filters_top__save {
    margin-top: 1rem;
    width: 100%;
  }
  .a_filters_top__filter_main {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .a_filters_top {
    --a_filters_top_always_visible_padding: .5rem;
  }
  .a_filters_top__header {
    flex-direction: column;
  }
  .a_filters_top__header__group {
    flex-wrap: wrap;
  }
  .a_filters_top__toggle_filter {
    margin-bottom: 0.5rem;
  }
  .a_filters_top__save_select {
    margin-bottom: 0.5rem;
  }
  .a_filters_top__filter_ui_group {
    flex-direction: column;
    align-items: start;
  }
  .a_filters_top__filter_ui_label {
    width: 100%;
  }
  .a_filters_top__filter_ui_subgroup {
    width: 100%;
  }
  .a_filters_top__filter_main {
    .a_filters_top__filter_ui_subgroup {
      padding-left: 0;
    }
  }
}