.a_loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.75);
  z-index: 80;
  margin-left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}