:root {
  --a_menu_2_width_expanded: 350px;
  --a_menu_2_width_collapsed: 60px;
  --a_menu_2_transition: 0.5s;
  --a_menu_2_btn_toggle_top: 5px;
  --a_menu_2_btn_toggle_margin_left: 0.5rem;
  --a_menu_2_mobile_btn_toggle_margin_left: 0.5rem;
  --a_menu_2_mobile_btn_toggle_margin_top: 0.5rem;
  --a_menu_2_mobile_z_index: 1051;
  --a_menu_2_close_opacity: .3;
  --a_menu_2_search_height: 50px;
}

.a_menu_2__wrapper_open {
  .a_menu_2__page {
    width: calc(100% - var(--a_menu_2_width_expanded));
    margin-left: var(--a_menu_2_width_expanded);
  }
}

.a_menu_2__wrapper_close {
  .a_menu_2__page {
    width: calc(100% - var(--a_menu_2_width_collapsed));
    margin-left: var(--a_menu_2_width_collapsed);
  }
}

.a_menu_2 {
  --a_menu_2_width: var(--a_menu_2_width_expanded);
  --a_menu_2_top: 0;
  --a_menu_2_background: var(--a_color_white);
  --a_menu_2_border_color: var(--a_color_gray_200);
  --a_menu_2_panel_child_offset: 100%;
  --a_menu_2_panel_parent_offset: -30%;
  --a_menu_2_panel_iconpanel_size: var(--a_menu_2_width_collapsed);
  --a_menu_2_panel_color: var(--a_color_gray_600);
  --a_menu_2_link_padding_x: 1.2rem;
  --a_menu_2_link_padding_y: 1rem;
  --a_menu_2_link_selected_bg: var(--a_color_gray_200);
  --a_menu_2_link_selected_color: inherit;
  --a_menu_2_icon_color: var(--a_color_gray_600);
  --a_menu_2_panel_opened_icon_color: var(--a_color_gray_600);
  --a_menu_2_icon_focus_shadow_color: var(--a_color_focus);
  --a_menu_2_list_header_bg: var(--a_color_gray_200);
  --a_menu_2_breadcrumb_min_height: 50px;
  --a_menu_2_submenu_open_bg: var(--a_color_primary);
  --a_menu_2_submenu_open_color: var(--a_color_white);
  --a_menu_2_submenu_border_radius: var(--a_border_radius_2xl);
  --a_menu_2_submenu_border_width: 3px;

  width: var(--a_menu_2_width);
  position: absolute;
  top: var(--a_menu_2_top);
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--a_menu_2_background);
  margin: 0;
  padding: 0;
  border-right: 1px solid var(--a_menu_2_border_color);
}
.a_menu_2__page {
  --a_menu_2_page_bg: var(--a_color_white);

  background-color: var(--a_menu_2_page_bg);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.a_menu_2__listview {
  list-style: none;
  padding: 0;
  margin: 0;
}
.a_menu_2__listitem {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
  border-color: var(--a_menu_2_border_color);
  &:after {
    .a_menu_2__panel_main & {
      left: var(--a_menu_2_panel_iconpanel_size);
    }
    content: "";
    border-color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    inset-inline-start: 20px;
    inset-inline-end: 0;
    bottom: 0;
  }
}
.a_menu_2__link_active {
  --a_menu_2_icon_color: var(--a_menu_2_submenu_open_color);

  border-radius: 4px;
  background-color: var(--a_menu_2_submenu_open_bg);
  color: var(--a_menu_2_submenu_open_color);
}

.a_menu_2__list_header {
  padding-left: var(--a_menu_2_panel_iconpanel_size);
  background-color: var(--a_menu_2_list_header_bg);
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.a_menu_2__list_header_search {
  padding-left: var(--a_menu_2_link_padding_x);
  padding-right: var(--a_menu_2_link_padding_x);
}
.a_menu_2__link {
  flex-grow: 1;
  flex-basis: 10%;
  display: block;
  padding: var(--a_menu_2_link_padding_y) var(--a_menu_2_link_padding_x);
  cursor: pointer;
  &,
  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:focus,
  &:hover {
    outline: 0;
    box-shadow: inset 0 0 1px 4px var(--a_menu_2_icon_focus_shadow_color);
  }
}
.a_menu_2__link_disabled {
  opacity: .8;
  cursor: not-allowed;
}
.a_menu_2__link__text_truncated {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.a_menu_2__link_selected {
  background-color: var(--a_menu_2_link_selected_bg);
  color: var(--a_menu_2_link_selected_color);
}
.a_menu_2__link__icon {
  width: 25px;
  height: 25px;
  text-align: center;
  color: var(--a_menu_2_icon_color);
  margin-right: 15px;
}
.a_menu_2__link__counter {
  display: block;
  padding-inline-start: .5rem;
  float: right;
}
.a_menu_2__link__counter__icon {
  margin-left: .5rem;
}
.a_menu_2__link_btn {
  display: block;
  position: relative;
  width: auto;
}
.a_menu_2__link__text {
  position: relative;
}

.a_menu_clickable {
  cursor: pointer;
}

.a_menu_2__navbar_top {
  flex-shrink: 0;
  display: flex;
  padding: .5rem;
}
.a_menu_2__navbar_top__search {
  width: 100%;
  .a_input {
    height: var(--a_menu_2_search_height);
  }
  .a_form_element__parent {
    --a_form_element_label_float_top: 50%;
  }
}

.a_menu_2__btn_toggle {
  --a_menu_2_btn_toggle_width: 50px;
  --a_menu_2_btn_toggle_height: 50px;
  --a_menu_2_btn_toggle_bar_width: 22px;
  --a_menu_2_btn_toggle_bar_height: 2px;
  --a_menu_2_btn_toggle_bar_1_top: 18px;
  --a_menu_2_btn_toggle_bar_2_top: calc(var(--a_menu_2_btn_toggle_height) / 2 - var(--a_menu_2_btn_toggle_bar_height) / 2);
  --a_menu_2_btn_toggle_bar_3_top: 30px;

  height: var(--a_menu_2_btn_toggle_height);
  width: var(--a_menu_2_btn_toggle_width);
  position: relative;
  margin-right: 1rem;
}

.a_menu_2__btn_toggle__bar {
  display: block;
  background-color: var(--a_color_white);
  width: var(--a_menu_2_btn_toggle_bar_width);
  height: var(--a_menu_2_btn_toggle_bar_height);
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--a_menu_2_transition);
  &.a_menu_2__btn_toggle__bar_1 {
    top: var(--a_menu_2_btn_toggle_bar_1_top);
  }
  &.a_menu_2__btn_toggle__bar_2 {
    top: var(--a_menu_2_btn_toggle_bar_2_top);
  }
  &.a_menu_2__btn_toggle__bar_3 {
    top: var(--a_menu_2_btn_toggle_bar_3_top);
  }
  .a_menu_2__btn_toggle_open & {
    &.a_menu_2__btn_toggle__bar_1 {
      top: var(--a_menu_2_btn_toggle_bar_2_top);
      transform: translateX(-50%) rotate(45deg);
    }
    &.a_menu_2__btn_toggle__bar_2 {
      opacity: 0;
    }
    &.a_menu_2__btn_toggle__bar_3 {
      top: var(--a_menu_2_btn_toggle_bar_2_top);
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.a_menu_2__backdrop {
  z-index: -1;
}

.a_menu_2_mobile {
  .a_menu_2__btn_toggle {
    position: fixed;
    top: 0;
    margin: var(--a_menu_2_mobile_btn_toggle_margin_top) 0 0 var(--a_menu_2_mobile_btn_toggle_margin_left);
    z-index: var(--a_menu_2_mobile_z_index);
  }
  .a_menu_2__wrapper_open {
    overflow: hidden;
    padding-right: 15px;
    .a_menu_2__page {
      width: 100%;
      margin-left: 0;
    }
    .a_menu {
      z-index: var(--a_menu_2_mobile_z_index);
    }
    .a_menu_2__btn_toggle {
      left: var(--a_menu_2_width_expanded);
    }
    .a_menu_2__backdrop {
      opacity: .5;
      z-index: var(--a__backdrop_zindex);
    }
  }
  .a_menu_2__wrapper_close {
    .a_menu_2__page {
      width: 100%;
      margin-left: 0;
    }
    .a_menu_2__btn_toggle {
      left: 0;
    }
  }
}

.a_menu_2__panel_search {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  border: none !important;
}
.a_panel__none_found {
  padding: 40px 20px;
  color: var(--a_menu_2_panel_color);
  text-align: center;
  font-size: 150%;
}

// panels
.a_menu_2__panels {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: var(--a_menu_2_background);
}

.a_menu_2__panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  color: var(--a_menu_2_panel_color);
  background: var(--a_menu_2_background);
  transform: translate3d(var(--a_menu_2_panel_child_offset),0,0);
  border-color: var(--a_menu_2_border_color);
  &:not(.a_menu_2__panel_main) {
    border-inline-start-width: 1px;
    border-inline-start-style: solid;
  }
}
.a_menu_2__panel_opened {
  z-index: 2;
  transform: translate3d(0,0,0);
  .a_menu_2__link__icon {
    color: var(--a_menu_2_panel_opened_icon_color);
  }
}
.a_menu_2__panel_parent {
  overflow-y: hidden;
  transform: unset;
  z-index: 0;
  .a_menu_2__list_header {
    opacity: 0;
  }
}
.a_menu_2__panel_main {
  transform: translate3d(0, 0, 0);
  & ~ .a_menu_2__panel {
    inset-inline-start: var(--a_menu_2_panel_iconpanel_size);
  }
  &.a_menu_2__panel_parent {
    .a_menu_2__breadcrumb {
      opacity: 0;
    }
  }
}
.a_menu_2__panel_secondary {
  display: none;
  &.a_menu_2__panel_opened {
    display: block;
    border-left: var(--a_menu_2_submenu_border_width) solid var(--a_menu_2_submenu_open_bg);
    border-top: var(--a_menu_2_submenu_border_width) solid var(--a_menu_2_submenu_open_bg);
    border-top-left-radius: var(--a_menu_2_submenu_border_radius);
  }
}


// menu closed
.a_menu_2_close {
  width: var(--a_menu_2_width_collapsed);
  .a_menu_2__navbar_top__search {
    display: none;
  }
  .a_menu_2__list_header {
    opacity: 0;
  }
  .a_menu_2__link__text {
    display: none;
  }
  .a_menu_2__listitem:after {
    display: none;
  }
  .a_menu_2__link__counter {
    display: none;
  }
  .a_menu_2__btn_toggle {
    margin: 0;
  }
  .a_menu_2__panel {
    overflow: hidden;
  }
  .a_menu_2__link {
    text-overflow: clip;
  }
  .a_menu_2__breadcrumb {
    height: var(--a_menu_2_breadcrumb_min_height);
    border-bottom: none;
  }
}
// breadcrumb
.a_menu_2__breadcrumb {
  min-height: var(--a_menu_2_breadcrumb_min_height);
  display: flex;
  align-items: center;
  position: relative;
}
.a_menu_2__breadcrumb_main {
  padding-left: var(--a_menu_2_width_collapsed);
  border-bottom: 2px solid var(--a_menu_2_border_color);
}
.a_menu_2__breadcrumb_secondary {
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: calc(100% - 2rem);
    background-color: var(--a_menu_2_submenu_open_bg);
    left: 1rem;
    bottom: 0;
  }
}
.a_menu_2__breadcrumbs__item {
  position: relative;
  display: flex;
  align-items: center;
}