:root {
  --a_menu_width_expanded: 250px;
  --a_menu_width_collapsed: 60px;
  --a_menu_transition: 0.5s;
  --a_menu_btn_toggle_width: 50px;
  --a_menu_btn_toggle_height: 50px;
}

.a_menu__wrapper_open {
  .a_menu__page {
    width: calc(100% - var(--a_menu_width_expanded));
    transform: translate3d(var(--a_menu_width_expanded), 0, 0);
  }
}

.a_menu__wrapper_close {
  .a_menu__page {
    width: calc(100% - var(--a_menu_width_collapsed));
    transform: translate3d(var(--a_menu_width_collapsed), 0, 0);
  }
  .a_menu__blocker {
    bottom: 0;
  }
  .a_menu__navbar_top {
    opacity: 0;
  }
  .a_menu__list_header {
    opacity: 0;
  }
}

.a_menu {
  --a_menu_width: var(--a_menu_width_expanded);
  --a_menu_background: var(--a_color_white);
  --a_menu_border_color: var(--a_color_gray_200);
  --a_menu_panel_child_offset: 100%;
  --a_menu_panel_parent_offset: -30%;
  --a_menu_panel_iconpanel_size: var(--a_menu_width_collapsed);
  --a_menu_panel_color: var(--a_color_gray_600);
  --a_menu_link_padding_x: 1.2rem;
  --a_menu_link_padding_y: 1rem;
  --a_menu_link_selected_bg: var(--a_color_gray_200);
  --a_menu_link_selected_color: inherit;
  --a_menu_icon_color: var(--a_color_gray_400);
  --a_menu_panel_opened_icon_color: var(--a_color_gray_600);
  --a_menu_icon_hover_color: inherit;
  --a_menu_icon_hover_bg_color: var(--a_color_gray_100);
  --a_menu_icon_focus_shadow_color: var(--a_color_focus);
  --a_menu_list_header_bg: var(--a_color_gray_200);

  width: var(--a_menu_width);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--a_menu_background);
  margin: 0;
  padding: 0;
  border-right: 1px solid var(--a_menu_border_color);
}
.a_menu__page {
  --a_menu_page_bg: var(--a_color_white);

  background-color: var(--a_menu_page_bg);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.a_menu__panels {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: var(--a_menu_background);
}

.a_menu__panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  color: var(--a_menu_panel_color);
  background: var(--a_menu_background);
  transform: translate3d(var(--a_menu_panel_child_offset),0,0);
  border-color: var(--a_menu_border_color);
  &:not(.a_menu__panel_first) {
    border-inline-start-width: 1px;
    border-inline-start-style: solid;
  }
}
.a_menu__panel_opened {
  z-index: 2;
  transform: translate3d(0,0,0);
  .a_menu__link__icon {
    color: var(--a_menu_panel_opened_icon_color);
  }
}
.a_menu__panel_parent {
  overflow-y: hidden;
  transform: unset;
  z-index: 0;
  .a_menu__blocker {
    bottom: -10000000px;
  }
  .a_menu__list_header {
    opacity: 0;
  }
}
.a_menu__panel_first {
  & ~ .a_menu__panel {
    inset-inline-start: var(--a_menu_panel_iconpanel_size);
  }
}

.a_menu__listview {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.a_menu__listitem {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
  border-color: var(--a_menu_border_color);
  &:after {
    .a_menu__panel_first & {
      left: var(--a_menu_panel_iconpanel_size);
    }
    content: "";
    border-color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    position: absolute;
    inset-inline-start: 20px;
    inset-inline-end: 0;
    bottom: 0;
  }
}

.a_menu__list_header {
  padding-left: var(--a_menu_panel_iconpanel_size);
  background-color: var(--a_menu_list_header_bg);
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.a_menu__link {
  flex-grow: 1;
  flex-basis: 10%;
  display: block;
  padding: var(--a_menu_link_padding_y) var(--a_menu_link_padding_x);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  &,
  &:active,
  &:hover,
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    color: var(--a_menu_icon_hover_color);
    background-color: var(--a_menu_icon_hover_bg_color);
  }
  &:focus {
    outline: 0;
    box-shadow: inset 0 0 1px 4px var(--a_menu_icon_focus_shadow_color);
  }
}
.a_menu__link_selected {
  background-color: var(--a_menu_link_selected_bg);
  color: var(--a_menu_link_selected_color);
}
.a_menu__link__icon {
  width: 25px;
  height: 25px;
  text-align: center;
  color: var(--a_menu_icon_color);
  margin-right: 15px;
}
.a_menu__link__counter {
  display: block;
  padding-inline-start: .5rem;
  float: right;
}
.a_menu__link__counter__icon {
  margin-left: .5rem;
}
.a_menu__link_btn {
  display: block;
  position: relative;
  width: auto;
}
.a_menu__link__text {
  position: relative;
}

.a_menu__blocker {
  display: block;
  position: absolute;
  bottom: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  background: var(--a_menu_background);
}

.a_menu__navbar_top {
  border-bottom: 1px solid var(--a_menu_border_color);
  flex-shrink: 0;
}
.a_menu__navbar_top__search {
  padding: 1rem;
}

.a_menu__btn_toggle {
  height: var(--a_menu_btn_toggle_height);
  width: var(--a_menu_btn_toggle_width);
  position: relative;
}

.a_menu__btn_toggle__bar {
  display: block;
  background-color: var(--a_color_white);
  width: 22px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--a_menu_transition);
  &:nth-child(1) {
    top: 18px;
  }
  &:nth-child(2) {
    top: 24px;
  }
  &:nth-child(3) {
    top: 30px;
  }
  .a_menu__btn_toggle_open & {
    &:nth-child(1) {
      top: 24px;
      transform: translateX(-50%) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      top: 24px;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}
