.a_modal_footer_sticky {
  --a_modal_footer_sticky_gap: var(--a_modal_footer_gap) * 0.5;

  position: sticky;
  bottom: 0;
  margin-left: calc(-1*var(--a_modal_padding));
  margin-right: calc(-1*var(--a_modal_padding));
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  z-index: 4;
  padding-right: calc(var(--a_modal_padding) - var(--a_modal_footer_gap));
  padding-top: calc(var(--a_modal_padding) - var(--a_modal_footer_gap));
  padding-bottom: calc(var(--a_modal_padding) - var(--a_modal_footer_gap));
  .a_modal_footer_actions {
    background-color: #fff;
    margin: 0;
    > * {
      margin: calc(var(--a_modal_footer_sticky_gap));
    }
  }
  .a_loading {
    margin: 0;
  }
}
.a_modal_content_with_footer_sticky {
  .a_modal_body {
    padding-bottom: 0;
  }
  .a_modal_body__content {
    padding-bottom: var(--a_modal_padding);
  }
}
.a_modal_footer_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}