.a_resizer {
  --a_resizer_width: 2px;
  --a_resizer_bg: #f4f5f7;
  --a_resizer_hover_bg: #2684ff;
  position: relative;
}
.a_resizer_x {
  height: 100%;
  .a_resizer__line {
    height: 100%;
    width: var(--a_resizer_width);
    cursor: w-resize;
  }
}
.a_resizer_y {
  width: 100%;
  .a_resizer__line {
    width: 100%;
    height: var(--a_resizer_width);
    cursor: s-resize;
  }
}
.a_resizer__line {
  background-color: var(--a_resizer_bg);
  &:hover {
    background-color: var(--a_resizer_hover_bg);
  }
}
