.a_spinner_size_1 {
  --a_spinner_width: 3rem;
  --a_spinner_height: 3rem;
  --a_spinner_border_width: 0.35em;
}
.a_spinner_size_2 {
  --a_spinner_width: 2.6rem;
  --a_spinner_height: 2.6rem;
  --a_spinner_border_width: 0.3em;
}
.a_spinner_size_3 {
  --a_spinner_width: 2.3rem;
  --a_spinner_height: 2.3rem;
  --a_spinner_border_width: 0.3em;
}
.a_spinner_size_4 {
  --a_spinner_width: 2rem;
  --a_spinner_height: 2rem;
}
.a_spinner_size_5 {
  --a_spinner_width: 1.8rem;
  --a_spinner_height: 1.8rem;
}
.a_spinner_size_6 {
  --a_spinner_width: 1.6rem;
  --a_spinner_height: 1.6rem;
  --a_spinner_border_width: 0.2em;
}
.a_spinner_size_7 {
  --a_spinner_width: 1.4rem;
  --a_spinner_height: 1.4rem;
  --a_spinner_border_width: 0.2em;
}