.a_table {
  --a_table_bg: transparent;
  display: table;
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  vertical-align: top;
}
.a_table__body,
.a_table__td,
.a_table__th,
.a_table__head,
.a_table__row {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.a_table__cell {
  padding: 0.5rem 0.5rem;
  background-color: var(--a_table_bg);
  border-bottom-width: 1px;
  max-width: 250px;
}
.a_table__head {
  display: table-row-group;
  vertical-align: bottom;
}
.a_table__head_dragstart .a_table__th > * {
  pointer-events: none;
}
.a_table__row {
  display: table-row;
}
.a_table__th {
  display: table-cell;
  background-color: #f1f4f7;
  border-bottom: 3px solid #d0c9c0;
}
.a_table__th_draggable {
  cursor: move;
}
.a_table__th_over {
  border-left: 10px solid #666;
}

.a_table__td {
  display: table-cell;
}

.a_table__body {
  display: table-row-group;
}

.a_table__th__sort {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.a_table__th__sort__icons {
  padding-left: .2rem;
  display: flex;
  flex-direction: column;
}

.a_table__th__sort__icon {
  width: 10px;
  height: 10px;
}

.a_table__th__sort__icon_up {

}

.a_table__th__sort__icon_down {

}

.a_table__cell_action {
  text-align: right;
}
.a_table {
  .a_table__th__dropdown_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.a_table__th__dropdown__ul {
  list-style: none;
  margin: 0;
}
.a_table__th__dropdown__ul_dragstart .a_table__th__dropdown__li > * {
  pointer-events: none;
}
.a_table__th__dropdown_item__icon {
  margin-right: .5rem;
}
.a_table__th__dropdown_item__icon_btn {
  padding: 0;
}

.a_table__th__dropdown_item__icon_dnd {
  margin-left: 1rem;
  cursor: move;
}
.a_table__th__dropdown__li_over {
  border-left: 10px solid red;
}

.a_table__top_panel__label {
  font-weight: bolder;
}
.a_table__top_panel__label__count {
  padding-left: .5rem;
}

// PAGINATION
.a_pagination__parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f4f7;
  padding: .5rem;
}
.a_pagination__count_from_to {
  margin-right: 1rem;
}
.a_pagination__count {
  display: flex;
}
.a_pagination__count__item {
  border-right: 1px solid #000;
  padding: 0 .25rem;
  &:last-child {
    border-right: none;
  }
}

.a_pagination__count__button {
  padding: 0;
}