.a_table__parent {
  --a_table_th_sorting_bg: #d0e3a4;

  width: 100%;
  overflow-x: hidden;
}
.a_table__parent_scrollable {
  overflow-x: auto;
}
.a_table {
  --a_table_bg: transparent;
  display: table;
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  vertical-align: top;
  overflow-x: auto;
}
.a_table__body,
.a_table__td,
.a_table__th,
.a_table__head,
.a_table__row {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.a_table__cell {
  padding: 0.5rem 0.5rem;
  background-color: var(--a_table_bg);
  border-bottom-width: 1px;
  .a_table__row_focus > & {
     background-color: rgba(192,209,117,0.75);
  }
  .a_table__row_focus_was > & {
    background-color: rgba(192, 209, 117, 0.3);
  }
}
.a_table__empty_text {
  padding: 0.5rem 0.5rem;
  background-color: var(--a_table_bg);
  border-bottom-width: 1px;
}
.a_table__cell_click {
  cursor: pointer;
}
.a_table__head {
  display: table-row-group;
  vertical-align: bottom;
}
.a_table__head_dragstart .a_table__th > * {
  pointer-events: none;
}
.a_table__row {
  display: table-row;
}
.a_table__th {
  display: table-cell;
  background-color: #f1f4f7;
  border-bottom: 3px solid #d0c9c0;
}
.a_table__th_draggable {
  cursor: move;
}
.a_table__th_over {
  border-left: 10px solid #666;
}
.a_table__th_sorting {
  background-color: var(--a_table_th_sorting_bg);
}

.a_table__td {
  display: table-cell;
}

.a_table__body {
  display: table-row-group;
}

.a_table__th__sort {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.a_table__th__sort__icons {
  padding-left: .2rem;
  display: flex;
  flex-direction: column;
}

.a_table__th__sort__icon {
  width: 10px;
  height: 10px;
}

.a_table__th__sort__icon_up {

}

.a_table__th__sort__icon_down {

}

.a_table__cell_action {
  text-align: right;
}
.a_table {
  .a_table__th__dropdown_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.a_table__th__dropdown__ul {
  list-style: none;
  margin: 0;
}
.a_table__th__dropdown__ul_dragstart .a_table__th__dropdown__li > * {
  pointer-events: none;
}
.a_table__th__dropdown_item__icon {
  margin-right: .5rem;
}
.a_table__th__dropdown_item__icon_btn {
  padding: 0;
}

.a_table__th__dropdown_item__icon_dnd {
  margin-left: 1rem;
  cursor: move;
}
.a_table__th__dropdown__li_over {
  border-left: 10px solid red;
}

.a_table__top_panel__label {
  font-weight: bolder;
  display: inline-block;
}
.a_table__top_panel__label__count {
  padding-left: .5rem;
}
.a_table__top_panel__actions {
  float: right;
  padding: .5rem 0;
  .a_table__action {
    margin-left: .5rem;
  }
}
.a_table__top_panel__actions__quick_search {
  display: inline-block;
  width: 250px;
  margin-left: .5rem;
}
.a_table__action {
  position: relative;
  margin-left: .5rem;
}
.a_table__action__icon {
  margin-right: .5rem;
}

.a_table__row_action {
  position: relative;
}
.a_table__cell_action__additional_icon {
  margin-right: .25rem;
}
.a_table__cell_action__btn {
  --a_btn_padding_x: 0.5rem;
  --a_btn_padding_y: 0.375rem;
  --a_btn_line_height: 1;
}

.a_table__preview_right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 300px;
  overflow-y: auto;
  background-color: #fff;
  border-left: 1px solid #000;
}
.a_table__preview_right__header {
  background-color: #f1f4f7;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: .25rem .5rem;
}
.a_table__preview_right__body {
  padding: .25rem .5rem;
}
.a_table__preview_right__btn_close {
  padding: 0;
}
.a_table__preview_right__resizer {
  left: 0;
}

// PAGINATION
.a_pagination__parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f4f7;
  padding: .5rem;
  min-height: 2rem;
}
.a_pagination__count_from_to {
  margin-right: 1rem;
}
.a_pagination__count {
  display: flex;
}
.a_pagination__count__item {
  border-right: 1px solid #000;
  padding: 0 .25rem;
  &:last-child {
    border-right: none;
  }
}

.a_pagination__count__button {
  padding: 0;
}
