aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_BOOLEAN_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterBoolean"
    )

    page-filter-boolean-import-composition-api

    page-filter-boolean-arguments

    page-filter-boolean-example

    page-filter-boolean-true-false-values

    page-filter-boolean-use-nil
