aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_IS_VERTICAL_HEADER_"
  description="_A_TABS_GROUP_IS_VERTICAL_DESCRIPTION_"
  :props="['is-vertical']"
)
  a-tabs(
    :data="data"
    :is-vertical="true"
  )
  a-tabs(
    :data="data"
    :is-boxed="true"
    :is-vertical="true"
    class="a_mt_3"
  )
  a-tabs(
    :data="data"
    :is-vertical="false"
    class="a_mt_3"
  )
