aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_KEY_TITLE_HEADER_"
  description="_A_TABS_GROUP_KEY_TITLE_DESCRIPTION_"
  :props="['key-title']"
)
  a-tabs(
    :data="data"
    key-title="label"
  )
