aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_LINK_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterLink"
    )

    page-filter-link-import-composition-api

    page-filter-link-arguments

    page-filter-link-example

    page-filter-link-link-text

    page-filter-link-protocol

    page-filter-link-target

    page-filter-link-link-class
