aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_GROUP_BUTTON_DROPDOWN_GROUP_ACTIONS_CLASSES_HEADER_"
  description="_A_GROUP_BUTTON_DROPDOWN_GROUP_ACTIONS_CLASSES_DESCRIPTION_"
  :props="['actions-classes']"
)
  a-group-button-dropdown(
    :actions="actions"
    :index-first-dropdown-action="6"
    :index-first-dropdown-action-mobile="6"
    :actions-classes="['a_btn a_btn_primary', 'a_btn a_btn_secondary', 'a_btn a_btn_info', 'a_btn a_btn_info', 'a_btn a_btn_info', 'a_btn a_btn_info']"
  )
  a-group-button-dropdown(
    class="a_mt_3"
    :actions="actions"
    :index-first-dropdown-action="3"
    :index-first-dropdown-action-mobile="3"
    :actions-classes="['a_btn a_btn_primary', 'a_btn a_btn_secondary', 'a_btn a_btn_secondary', 'a_btn a_btn_primary']"
  )
