aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_PROGRESS_COMPONENT_DESCRIPTION_"
    )

    page-progress-basic

    page-progress-class-progress-bar

    page-progress-class-progress-bar-function

    page-progress-sizes

    page-progress-class-combination

    page-progress-value

    page-progress-min-max

    page-progress-show-value

    page-progress-revers

    page-progress-value-text-integer

    page-progress-striped
