@use "../../scss/aloha-vue";
@use "Example";
@use "table";

.a_menu__page {
  padding: 0 1rem 0 2.5rem;
}
.a_menu {
  position: fixed;
}
.a_mobile {
  .a_menu__page {
    padding: 0 .5rem;
  }
  .a_menu__btn_toggle_outside_menu {
    display: inline-block;
  }
}
code {
  background-color: var(--a_color_gray_200);
  border-radius: .5em;
  color: #d7002c;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}