aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_GROUP_VALUE_TEXT_INTEGER_HEADER_"
  description="_A_PROGRESS_GROUP_VALUE_TEXT_INTEGER_DESCRIPTION_"
  props="value-text-integer"
)
  a-progress(
    :value="20"
    :value-text-integer="true"
  )
  a-progress(
    class="a_mt_4"
    :value="40"
    :value-text-integer="true"
  )
