div
  h1 PageAccordion {{ framework }}
  h2 without alwaysOpen
  a-accordion(
    :items="items"
  )
  h2 with alwaysOpen
  a-accordion(
    :items="items"
    :always-open="true"
  )
  h2 with Slots
  a-accordion(
    :items="items"
    key-label=""
    key-content=""
  )
    template(
      v-slot:button="{ item, itemIndex }"
    )
      span {{ item.label }}
        strong index: {{ itemIndex }}

    template(
      v-slot:content="{ item, itemIndex }"
    )
      strong {{ item.content }}
