@import "../utils/aloha_prefix";

.#{$aloha-prefix}text_lowercase {
  text-transform: lowercase !important;
}

.#{$aloha-prefix}text_uppercase {
  text-transform: uppercase !important;
}

.#{$aloha-prefix}text_capitalize {
  text-transform: capitalize !important;
}

.#{$aloha-prefix}text_underline {
  text-decoration: underline !important;
}

.#{$aloha-prefix}text_italic {
  font-style: italic !important;
}

.#{$aloha-prefix}text_bold {
  font-weight: 700 !important;
}

.#{$aloha-prefix}text_bolder {
  font-weight: bolder !important;
}

.#{$aloha-prefix}text_semibold {
  font-weight: 600! important;
}

.#{$aloha-prefix}text_light {
  font-weight: 300!important;
}

.#{$aloha-prefix}text_lighter {
  font-weight: lighter!important;
}

.#{$aloha-prefix}text_normal {
  font-style: normal !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-weight: normal !important;
}
