div
  h1 ACollapse
  a-collapse.btn.btn-primary(
    label="Aloha"
  )
    template(
      v-slot:control
    )
      span ACollapse

  .py-3
  a-collapse.btn.btn-default
    template(
      v-slot:label="vm"
    )
      span(
        :class="{ 'text-danger': vm.isOpen }"
      ) Click Me
    template(
      v-slot:control
    )
      span ACollapse
