aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DISCLOSURE_GROUP_HTML_HEADER_"
  description="_A_DISCLOSURE_GROUP_HTML_DESCRIPTION_"
  :props="['html-less', 'html-more']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-disclosure(
        :html-less="htmlLess"
        :html-more="htmlMore"
      )
