aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_RADIO_COMPONENT_DESCRIPTION_"
    )

    page-radio-search

    page-radio-key-disabled

    page-radio-translate-data

    page-radio-two-columns

    page-radio-is-button-group

    page-radio-collapse

    page-radio-data-extra

    page-radio-is-model-array
