aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_DROPDOWN_COMPONENT_DESCRIPTION_"
    )

    page-dropdown-basic

    page-dropdown-button-text

    page-dropdown-button-class

    page-dropdown-button-icons

    page-dropdown-button-loading

    page-dropdown-in-body

    page-dropdown-triggers

    page-dropdown-caret-icon

    page-dropdown-has-caret

    page-dropdown-readonly

    aloha-table-props(
      :data="dataProps"
    )
