aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
)
  aloha-pagination-items(
    :length="rowsLength"
    :offset="offset"
  )
  a-pagination(
    :count-all-rows="countAllRows"
    :limit="limit"
    :limits-per-page="limitsPerPage"
    :max-pages="maxPages"
    :offset="offset"
    :rows-length="rowsLength"
    @update:limit="updateLimit"
    @update:offset="updateOffset"
  )


