.a_spinner_1 {
  width: 2.5rem;
  height: 2.5rem
}
.a_spinner_2 {
  width: 2rem;
  height: 2rem
}
.a_spinner_3 {
  width: 1.75rem;
  height: 1.75rem
}
.a_spinner_4 {
  width: 1.5rem;
  height: 1.5rem
}
.a_spinner_5 {
  width: 1.25rem;
  height: 1.25rem
}
.a_spinner_6 {
  width: 1rem;
  height: 1rem
}
