aloha-example(
  :code-html="codeHtml"
  header="_A_TEXT_STYLES_FONT_SIZE_NAME_"
  description="_A_TEXT_STYLES_FONT_SIZE_DESCRIPTION_"
)
  .a_fs_1
    code.a_color_danger .a_fs_1
    |  Text
  .a_fs_2
    code.a_color_danger .a_fs_2
    |  Text
  .a_fs_3
    code.a_color_danger .a_fs_3
    |  Text
  .a_fs_4
    code.a_color_danger .a_fs_4
    |  Text
  .a_fs_5
    code.a_color_danger .a_fs_5
    |  Text
  .a_fs_6
    code.a_color_danger .a_fs_6
    |  Text
  .a_fs_7
    code.a_color_danger .a_fs_7
    |  Text
