div
  h1 {{ pageTitle }}
  button.a_btn.a_btn_primary(
    id="btn_confirm"
    type="button"
    @click="openConfirmLocal"
  ) {{ openConfirmText }}

  button.a_btn.a_btn_primary(
    id="btn_confirm_timeout"
    type="button"
    @click="openConfirmWithTimeout"
  ) {{ openConfirmTimeoutText }}

