aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_CONFIRM_COMPONENT_DESCRIPTION_"
    )

    page-confirm-basic

    page-confirm-buttons

    page-confirm-focus

    page-confirm-async

    aloha-table-props(
      :data="dataProps"
    )
