aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_PAGINATION_OUTSIDE_HEADER_"
  description="_A_TABLE_GROUP_PAGINATION_OUTSIDE_DESCRIPTION_"
  :props="['is-pagination-outside', 'count-all-rows']"
  :emits="['change-limit', 'change-offset']"
)
  div
    a-table(
      :columns="columns"
      :data="dataPaginated"
      label="_A_TABLE_GROUP_PAGINATION_OUTSIDE_LABEL_"
      key-id="id"
      :use-pagination="true"
      :is-pagination-outside="true"
      :count-all-rows="data.length"
      @change-limit="changeLimit"
      @change-offset="changeOffset"
    )
