aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_KEY_CONTENT_HEADER_"
  description="_A_TABS_GROUP_KEY_CONTENT_DESCRIPTION_"
  :props="['key-content']"
)
  a-tabs(
    :data="data"
    key-content="aloha"
  )
