div
  h1 PageTable
  a-table(
    :columns="columns"
    :data="data"
    :is-loading-options="isLoadingOptions"
    label="Example table"
    :row-actions="rowActions"
    :table-actions="tableActions"
    preview="right"
    :is-quick-search="true"
    :is-action-column-visible="true"
    :is-columns-dnd="false"
    v-model:modelQuickSearch="modelQuickSearch"
    @change-columns-ordering="changeColumnsOrdering"
  )
    template(
      v-slot:slot1="vm"
    )
      pre {{ vm.column }}

    template(
      v-slot:tableDetailsLabel="vm"
    )
      span Details {{ vm.rowIndex }}

    template(
      v-slot:tableDetailsBody="vm"
    )
      pre {{ vm }}

    template(
      v-slot:tableActions
    )
      button.a_btn.a_btn_primary Click me

  span modelQuickSearch: {{ modelQuickSearch }}
