div
  h1 PageTable
  a-table(
    :columns="columns"
    :data="data"
    :is-loading-options="isLoadingOptions"
    @change-columns-ordering="changeColumnsOrdering"
  )
    template(
      v-slot:slot1="vm"
    )
      pre {{ vm.column }}
