aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DISCLOSURE_GROUP_BTN_CLASS_HEADER_"
  description="_A_DISCLOSURE_GROUP_BTN_CLASS_DESCRIPTION_"
  :props="['btn-class', 'btn-parent-class']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-disclosure(
        :text-less="textLess"
        :text-more="textMore"
        btn-class="a_btn a_btn_primary"
        btn-parent-class="a_text_left"
      )
