aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_HTML_HEADER_"
  description="_A_ALERT_GROUP_HTML_DESCRIPTION_"
)
  a-alert(
    :html="html"
    :is-visible="true"
    type="primary"
  )
