aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SHOW_MORE_GROUP_HEIGHT_HEADER_"
  description="_A_SHOW_MORE_GROUP_HEIGHT_DESCRIPTION_"
  props="height"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-show-more(
        :html="html"
        :height="500"
      )
