aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TRANSLATION_GROUP_TITLE_ARRAY_HEADER_"
  description="_A_TRANSLATION_GROUP_TITLE_ARRAY_DESCRIPTION_"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-translation(
        :title="['_SHOW_MORE_', '_SHOW_MORE_', 'Aloha']"
      ) Aloha
