$a_border_colors: (
        "primary":    var(--a_color_primary_rgb),
        "secondary":  var(--a_color_secondary_rgb),
        "tertiary":   var(--a_color_tertiary_rgb),
        "success":    var(--a_color_success_rgb),
        "info":       var(--a_color_info_rgb),
        "warning":    var(--a_color_warning_rgb),
        "danger":     var(--a_color_danger_rgb),
        "light":      var(--a_color_light_rgb),
        "dark":       var(--a_color_dark_rgb),
) !default;

.a_border {
  border: var(--a_border_width) var(--a_border_style) var(--a_border_color) !important;
}
.a_border_top {
  border-top: var(--a_border_width) var(--a_border_style) var(--a_border_color) !important;
}
.a_border_right {
  border-right: var(--a_border_width) var(--a_border_style) var(--a_border_color) !important;
}
.a_border_bottom {
  border-bottom: var(--a_border_width) var(--a_border_style) var(--a_border_color) !important;
}
.a_border_left {
  border-left: var(--a_border_width) var(--a_border_style) var(--a_border_color) !important;
}

@each $state, $value in $a_border_colors {
  .a_border_#{$state} {
    --a_border_opacity: 1;
    border-color: rgba(#{ $value },var(--a_border_opacity)) !important;
  }
}
.a_border_1 {
  border-width: 1px !important;
}
.a_border_2 {
  border-width: 2px !important;
}
.a_border_3 {
  border-width: 3px !important;
}
.a_border_4 {
  border-width: 4px !important;
}
.a_border_5 {
  border-width: 5px !important;
}

.a_border_0 {
  border: 0 !important;
}
.a_border_top_0 {
  border-top: 0 !important;
}
.a_border_right_0 {
  border-right: 0 !important;
}
.a_border_bottom_0 {
  border-bottom: 0 !important;
}
.a_border_left_0 {
  border-left: 0 !important;
}
