$a_breakpoint_mobile: 768px;
$a_breakpoint_tablet: 1023px;
$a_breakpoint_desktop: 1215px;

$a_breakpoint_desktop_min: 1024px;

$a_breakpoints: (
    (
        class: "mobile",
        max: "768px",
    ),
    (
        class: "tablet",
        min: "769px",
        max: "1023px",
    ),
    (
        class: "touch",
        max: "1023px",
    ),
    (
        class: "desktop",
        min: "1024px",
        max: "1215px",
    ),
    (
        class: "widescreen",
        min: "1216px",
        max: "1407px",
    ),
    (
        class: "fullhd",
        min: "1408px",
        max: "1599px",
    ),
    (
        class: "large",
        min: "1600px",
    ),
) !default;

@function getBreakpointWithPrefix($class) {
    @if $class {
        @return "_" + $class;
    } @else {
        @return "";
    }
}
