$a_spacer: 1rem !default;

$a_border_radius:               .25rem !default;
$a_border_radius_pill:          50rem !default;

$a_font_weight_bold:            700 !default;


$a_border_width:                1px !default;

$a_stretched_link_z_index:                  1 !default;

$a_min_contrast_ratio:   4.5 !default;