@use "sass:map";

@use "../utils/aloha_prefix" as aloha;
@use "../utils/breakpoint";
@use "../utils/mixins";

.#{aloha.$aloha-prefix}text_left {
  text-align: left !important;
}
.#{aloha.$aloha-prefix}text_center {
  text-align: center !important;
}
.#{aloha.$aloha-prefix}text_right {
  text-align: right !important;
}
.#{aloha.$aloha-prefix}text_justify {
  text-align: justify !important;
}

@each $breakpoint in breakpoint.$a_breakpoints {
  $breakpoint-class: map.get($breakpoint, "class");
  $breakpoint-min: map.get($breakpoint, "min");
  $breakpoint-max: map.get($breakpoint, "max");

  @include mixins.media-width-all($breakpoint-min, $breakpoint-max) {
    .a_text_left#{ breakpoint.getBreakpointWithPrefix($breakpoint-class) } {
      text-align: left !important;
    }
    .a_text_center#{ breakpoint.getBreakpointWithPrefix($breakpoint-class) } {
      text-align: center !important;
    }
    .a_text_right#{ breakpoint.getBreakpointWithPrefix($breakpoint-class) } {
      text-align: right !important;
    }
    .a_text_justify#{ breakpoint.getBreakpointWithPrefix($breakpoint-class) } {
      text-align: justify !important;
    }
  }
}
