aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TRANSLATION_GROUP_PLACEHOLDER_HEADER_"
  description="_A_TRANSLATION_GROUP_PLACEHOLDER_DESCRIPTION_"
  :props="['tag', 'placeholder']"
)
  a-translation(
    tag="input"
    placeholder="_A_TRANSLATION_SHOW_MORE_"
  )
