aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_COPY_GROUP_CLASS_DEFAULT_HEADER_"
  description="_A_LINK_COPY_GROUP_CLASS_DEFAULT_DESCRIPTION_"
  props="class-default"
)
  a-link-copy(
    :button-options="{ class: 'a_btn a_btn_secondary a_ml_3' }"
    class-default=""
    :link-options="{ class: 'a_btn a_btn_secondary', text: 'https://github.com/', href: 'https://github.com/' }"
  )

