div
  h1 AForm

  button.a_btn.a_btn_primary(
    type="button"
    @click="validate"
  ) Validation
  button.a_btn.a_btn_secondary.a_ml_2(
    type="button"
    @click="reset"
  ) Reset
  a-form(
    v-model="model"
    :data="data"
    :errors="errors"
    id-prefix="test_"
  )

  br
  pre {{ model }}
