aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_KEY_DISABLED_HEADER_"
  description="_A_TABS_GROUP_KEY_DISABLED_DESCRIPTION_"
  :props="['key-disabled']"
)
  a-tabs(
    :data="data"
    key-disabled="disabled"
  )
