aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_UI_GROUP_HELP_TEXT_HEADER_"
  description="_A_UI_GROUP_HELP_TEXT_DESCRIPTION_"
  :props="['help-text']"
)
  a-switch(
    v-model="model"
    help-text="Aloha"
  )
