.a_p_2
  a-table(
    label="_ALOHA_TABLE_TRANSLATE_LABEL_"
    :columns="columns"
    :data="dataTranslated"
    :is-action-column-visible="false"
    :has-pagination="false"
    model-sort="name"
    :is-columns-dnd="false"
    :is-sorting-multi-column="false"
    :show-first-sorting-sequence-number="false"
  )
