aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DATEPICKER_RANGE_ID_WIDTH_DISABLED_HEADER_"
  description="_A_DATEPICKER_RANGE_ID_WIDTH_DISABLED_DESCRIPTION_"
  :props="['id', 'width', 'disabled']"
)
  a-datepicker-range(
    id="date5"
    :width="350"
    :disabled="isDisabled"
  )
