aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_CAROUSEL_COMPONENT_DESCRIPTION_"
    )

    page-carousel-basic

    page-carousel-aria-disabled

    page-carousel-arrows-trigger

    page-carousel-indicators-limit

    page-carousel-indicators-auto-limit

    page-carousel-indicators-type

    page-carousel-emits

    page-carousel-delete-active-slide

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
