div
  select(
    :value="limit"
    aria-label="Page Size"
    :disabled="isLoading"
    @input="emitValue"
  )
    option(
      v-for="count in countsPerPage"
      :key="count"
      :value="count"
    ) {{ count }}
