aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_SLIDER_COMPONENT_DESCRIPTION_"
    )

    page-slider-basic

    page-slider-change

    page-slider-help-text

    page-slider-errors

    page-slider-label-description

    page-slider-range

    page-slider-min-max

