div
  h1 Columns

  .a_columns.a_columns_count_12
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6

  .a_columns.a_columns_count_12
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6
    .a_column.a_column_6
      .a_height_6.a_bg_gray_400 a_column_6

