aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_GROUP_BUTTON_DROPDOWN_GROUP_ONLY_DROPDOWN_HEADER_"
  description="_A_GROUP_BUTTON_DROPDOWN_GROUP_ONLY_DROPDOWN_DESCRIPTION_"
  :props="['index-first-dropdown-action', 'index-first-dropdown-action-mobile']"
)
  a-group-button-dropdown(
    :actions="actions"
    :index-first-dropdown-action="0"
    :index-first-dropdown-action-mobile="0"
  )
