aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_TREE_HEADER_"
  description="_A_TABLE_GROUP_TREE_DESCRIPTION_"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_TREE_LABEL_"
      key-id="id"
      :is-tree="true"
    )
