div
  h1 ATitle

  a-tooltip.a_btn.a_btn_primary(
    tag="button"
    :max-width="200"
  )
    span Test

    template(
      v-slot:title
    )
      div ALoha

  div(
    v-save-html="text"
  )
  div(
    v-html="text"
  )
