aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LIST_KEY_LABEL_CALLBACK_HEADER_"
  description="_A_LIST_KEY_LABEL_CALLBACK_DESCRIPTION_"
  :props="['keyLabelCallback']"
)
  a-list(
    :data="items"
    :key-label-callback="keyLabelCallback"
    key-label="label"
  )
