aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_GROUP_BUTTON_DROPDOWN_COMPONENT_DESCRIPTION_"
    )

    page-group-button-dropdown-basic

    page-group-button-dropdown-only-dropdown

    page-group-button-dropdown-index-first-dropdown-action

    page-group-button-dropdown-index-first-dropdown-action-one

    //aloha-table-props(
    //  :data="dataProps"
    //)
    //
    //aloha-table-props(
    //  table-label="Slots"
    //  :data="dataSlots"
    //  :columns="['name', 'description']"
    //)
    //
    //aloha-table-props(
    //  table-label="Events"
    //  :data="dataEvents"
    //  :columns="['name', 'type', 'description']"
    //)

  //a-group-button-dropdown(
  //  :actions="actions"
  //  :index-first-dropdown-action="1"
  //)

