aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_WIZARD_COMPONENT_DESCRIPTION_"
    )

    page-wizard-basic

    page-wizard-type

    page-wizard-buttons

    page-wizard-buttons-disabled

    page-wizard-buttons-hide

    page-wizard-is-steps-justified

    page-wizard-is-toolbar

    page-wizard-is-step-number-visible

    page-wizard-step-active

    page-wizard-steps-errors

    page-wizard-steps-warnings

    page-wizard-is-control-outside

    page-wizard-slot-toolbar

    page-wizard-slot-label

    page-wizard-slot

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )

