aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_LIST_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterList"
    )

    page-filter-list-import-composition-api

    page-filter-list-arguments

    page-filter-list-is-simple-array

    page-filter-list-key-label

    page-filter-list-key-label-callback

    page-filter-list-is-html

    page-filter-list-separator

    page-filter-list-tag

    page-filter-list-list-class

    page-filter-list-key-children

    page-filter-list-is-simple-array-tree
