aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TRANSLATION_GROUP_HTML_HEADER_"
  description="_A_TRANSLATION_GROUP_HTML_DESCRIPTION_"
  props="html"
)
  a-translation(
    html="_A_TRANSLATION_EXAMPLE_HTML_"
  )
