aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_DATEPICKER_COMPONENT_DESCRIPTION_"
    )

    page-datepicker-basic

    page-datepicker-label-description

    page-datepicker-readonly

    page-datepicker-max-min-date

    page-datepicker-type
