aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="Text - Extra"
  description="_A_RATE_DESCRIPTION_TEXT_EXTRA_"
  :props="['text', 'extra']"
)
  a-rate(
    text="text and extra"
  )
