aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    page-table-form-basic

    page-table-form-d-n-d

    page-table-form-edit

    page-table-form-sticky

    page-table-form-grow
