aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TEMPLATE_GROUP_HTML_HEADER_"
  description="_A_TEMPLATE_GROUP_HTML_DESCRIPTION_"
  :props="['html']"
)
  a-template(
    :html="html"
  )
