aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_TITLE_HTML_HEADER_"
  description="_A_TABS_GROUP_TITLE_HTML_DESCRIPTION_"
  :props="['is-title-html', 'key-title']"
)
  a-tabs(
    :data="data"
    :is-title-html="true"
    key-title="label"
  )
