aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LIST_GROUP_IS_DATA_SIMPLE_ARRAY_HEADER_"
  description="_A_LIST_GROUP_IS_DATA_SIMPLE_ARRAY_DESCRIPTION_"
  :props="['is-data-simple-array']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-list(
        :data="items1"
        :is-data-simple-array="true"
      )
      a-list(
        class="a_mt_4"
        :data="items2"
        :is-data-simple-array="true"
      )
