.a_search_highlight {
  color: red;
}
.a_popup_container {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 1900;
}

@import "components/AIcon";
@import "components/AResizer";
@import "components/ui/ui";
@import "components/ATable";
@import "components/ATabs";
@import "components/AMenu";
@import "components/ACloak";
@import "components/ALoading";
@import "components/AButton";
@import "components/ALink";
@import "components/AWizard";
@import "components/AGroupButtonDropdown";
@import "components/AFormElement/ATextarea";
@import "components/ui/AInputNumber";

.a_dropdown__caret {
  margin: 0;
}
* + .a_dropdown__caret {
  margin-left: 0.5rem;
}