$distance-options: (
  (
    class: "1",
    value: ".25rem",
  ),
  (
    class: "2",
    value: ".5rem",
  ),
  (
    class: "3",
    value: ".75rem",
  ),
  (
    class: "4",
    value: "1rem",
  ),
  (
    class: "5",
    value: "1.5rem",
  ),
  (
    class: "6",
    value: "2rem",
  ),
  (
    class: "7",
    value: "2.5rem",
  ),
  (
    class: "8",
    value: "3rem",
  ),
  (
    class: "9",
    value: "3.5rem",
  ),
  (
    class: "10",
    value: "4rem",
  ),
  (
    class: "0",
    value: "0",
  ),
);

$distance-options-additional: (
  (
    class: "auto",
    value: "auto",
  ),
  (
    class: "25",
    value: "25%",
  ),
  (
    class: "50",
    value: "50%",
  ),
  (
    class: "75",
    value: "75%",
  ),
  (
    class: "100",
    value: "100%",
  ),
);

$directions: (
  (
    class: "x",
    values: ("right", "left"),
  ),
  (
    class: "y",
    values: ("top", "buttom"),
  ),
  (
    class: "t",
    values: ("top"),
  ),
  (
    class: "r",
    values: ("right"),
  ),
  (
    class: "b",
    values: ("buttom"),
  ),
  (
    class: "l",
    values: ("left"),
  ),
);
