aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LIST_KEY_CHILDREN_HEADER_"
  description="_A_LIST_KEY_CHILDREN_DESCRIPTION_"
  :props="['key-children']"
)
  a-list(
    :data="items"
    key-label="label"
    key-children="children"
  )
