div
  h1 AConfirm
  button.a_btn.a_btn_primary(
    id="btn_confirm"
    type="button"
    @click="openConfirmLocal"
  ) Open confirm

  button.a_btn.a_btn_primary(
    id="btn_confirm_timeout"
    type="button"
    @click="openConfirmWithTimeout"
  ) Open confirm with timeout

