.a_form_element {
  position: relative;
  .a_form_element_with_btn_close {
    padding-right: 30px;
  }
}

.a_form_element__btn_close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .5rem;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
