.a_textarea_scalable {
  resize: none;
  overflow: hidden;
  max-height: none;
  min-height: auto;
}
.a_textarea_resize_v {
  resize: vertical;
}
.a_textarea_resize_h {
  resize: horizontal;
}
.a_textarea_resize_none {
  resize: none;
}
.a_form_element_textarea:not(.a_form_element_textarea_scalable) > .a_form_control__actions {
  right: 1.2rem;
}