.a_textarea_scalable {
  resize: none;
  overflow: hidden;
  max-height: none;
  min-height: auto;
}
.a_textarea_resize_v {
  resize: vertical;
}
.a_textarea_resize_h {
  resize: horizontal;
}
.a_textarea_resize_none {
  resize: none;
}