.a_slider {
  --a_slider_padding_x: 0.625rem;
  --a_slider_bar_height: 0.375rem;
  --a_slider_bar_bg: var(--a_color_primary, #0d6efd);
  --a_slider_bar_border_radius: var(--a_border_radius_small, 3px);
  --a_slider_runway_bg: var(--a_color_gray_300, #e9ecef);
  --a_slider_btn_wrapper_size: 2.25rem;
  --a_slider_btn_size: 1.25rem;
  --a_slider_btn_border_width: 2px;
  --a_slider_btn_border_color: var(--a_color_primary, #0d6efd);
  --a_slider_btn_focus_color_inside: #fff;
  --a_slider_btn_focus_width_inside: 2px;
  --a_slider_btn_focus_color_outside: #000;
  --a_slider_btn_focus_width_outside: 4px;
  --a_slider_stop_bg: #fff;
  --a_slider_stop_border_radius: 50%;

  --a_slider_disabled_bar_bg: var(--a_color_gray_600, #6c757d);
  --a_slider_disabled_runway_bg: var(--a_color_gray_300, #e9ecef);
  --a_slider_disabled_btn_border_color: var(--a_color_gray_600, #6c757d);

  --a_slider_error_bar_bg: var(--a_form_element_error_color, #dc3545);
  --a_slider_error_btn_border_color: var(--a_form_element_error_color, #dc3545);

  width: 100%;
  height: var(--a_slider_btn_wrapper_size);
  display: flex;
  align-items: center;
  padding: 0 var(--a_slider_padding_x);
}
.a_slider_vertical {
  position: relative;
  display: inline-flex;
  width: auto;
  height: 100%;
  flex: 0;
  padding: var(--a_slider_padding_x) 0;

  .a_slider__runway {
    width: 6px;
    height: 100%;
    margin: 0 16px;
  }

  .a_slider__bar {
    width: 6px;
    height: auto;
    border-radius: 0 0 3px 3px;
  }

  .a_slider__button {
    top: unset;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
  }

  .a_slider__stop {
    transform: translateY(50%);
  }

  .a_slider__marks-text {
    margin-top: 0;
    left: 15px;
    transform: translateY(50%);
  }
}

.a_slider__runway {
  flex: 1;
  height: var(--a_slider_bar_height);
  background-color: var(--a_slider_runway_bg);
  border-radius: var(--a_slider_bar_border_radius);
  position: relative;
  cursor: pointer;
}

.a_slider__bar {
  height: var(--a_slider_bar_height);
  background-color: var(--a_slider_bar_bg);
  border-top-left-radius: var(--a_slider_bar_border_radius);
  border-bottom-left-radius: var(--a_slider_bar_border_radius);
  position: absolute;
  z-index: 2;
}

.a_slider__button {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: var(--a_slider_btn_wrapper_size);
  height: var(--a_slider_btn_wrapper_size);
  z-index: 3;
  background-color: transparent;
  text-align: center;
  user-select: none;
  line-height: normal;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus,
  &.a_slider__button_dragging {
    .a_slider__button__child {
      box-shadow:
              0 0 0 var(--a_slider_btn_focus_width_inside) var(--a_slider_btn_focus_color_inside),
              0 0 0 var(--a_slider_btn_focus_width_outside) var(--a_slider_btn_focus_color_outside);
    }
  }
}
.a_slider__button_hover {
  cursor: grab;
  .a_slider__button__child {
    transform: scale(1.2);
  }
}
.a_slider__button_dragging {
  cursor: grabbing;
  .a_slider__button__child {
    transform: scale(1.2);
  }
}
.a_slider__button__child {
  display: inline-block;
  width: var(--a_slider_btn_size);
  height: var(--a_slider_btn_size);
  vertical-align: middle;
  border: solid var(--a_slider_btn_border_width) var(--a_slider_btn_border_color);
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.2s;
  user-select: none;
}
.a_slider__stop {
  position: absolute;
  height: var(--a_slider_bar_height);
  width: var(--a_slider_bar_height);
  border-radius: var(--a_slider_stop_border_radius);
  background-color: var(--a_slider_stop_bg);
  transform: translateX(-50%);
}
.a_slider__stops {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(0);
}
.a_slider__marks {
  top: 0;
  left: 12px;
  width: 18px;
  height: 100%;
  position: absolute;
}
.a_slider__marks-text {
  position: absolute;
  transform: translateX(-50%);
  font-size: 14px;
  color: #909399;
  margin-top: 15px;
  white-space: pre;
  cursor: pointer;
}

.a_slider_disabled {
  --a_slider_bar_bg: var(--a_slider_disabled_bar_bg);
  --a_slider_runway_bg: var(--a_slider_disabled_runway_bg);
  --a_slider_btn_border_color: var(--a_slider_disabled_btn_border_color);

  .a_slider__runway {
    cursor: default;
  }
  .a_slider__button_hover,
  .a_slider__button_dragging {
    cursor: not-allowed;
    .a_slider__button__child {
      transform: scale(1);
      box-shadow: none;
    }
  }
}
.a_slider_invalid {
  --a_slider_bar_bg: var(--a_slider_error_bar_bg);
  --a_slider_btn_border_color: var(--a_slider_error_btn_border_color);
}