aloha-page(
  page-title="_A_TEXT_STYLES_NAME_"
  page-title-h1="_A_TEXT_STYLES_NAME_"
)
  template(
    v-slot:body
  )
    page-text-font-size

    page-text-alignment

    page-text-transformation

    page-text-font-weight

    page-text-wrap

    page-text-clamp
