aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_ROUTER_LINK_CONFIG_COMPONENT_DESCRIPTION_"
    )

    page-router-link-config-basic

    page-router-link-config-readonly

    //aloha-table-props(
    //  :data="dataProps"
    //)
    //
    //aloha-table-props(
    //  table-label="Events"
    //  :data="dataEvents"
    //  :columns="['name', 'type', 'description']"
    //)
    //
    //aloha-table-translate(
    //  :data="dataTranslate"
    //)

