aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_SORT_MULTI_COLUMN_HEADER_"
  description="_A_TABLE_GROUP_SORT_MULTI_COLUMN_DESCRIPTION_"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_SORT_MULTI_COLUMN_LABEL_"
      key-id="id"
      :is-sorting-multi-column="true"
      :model-sort="['-alohaPlus', 'aloha']"
    )
