aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_FILTERS_COMPONENT_DESCRIPTION_"
    )

    page-filters-example

    page-filters-default-hide

    // page-filters-model-id

    //aloha-table-props(
    //  :data="dataProps"
    //)
    //
    //aloha-table-props(
    //  table-label="Slots"
    //  :data="dataSlots"
    //  :columns="['name', 'description']"
    //)
    //
    //aloha-table-props(
    //  table-label="Events"
    //  :data="dataEvents"
    //  :columns="['name', 'type', 'description']"
    //)
