aloha-example(
  :code-html="codeHtml"
  header="_A_COLUMNS_GAP_NAME_"
  description="_A_COLUMNS_GAP_DESCRIPTION_"
)
  p.a_mb_2
    code.a_color_danger .a_columns_gap_x_0
  .a_columns.a_columns_count_12.a_columns_gap_x_0.a_mb_4
    .a_column.a_column_4
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 4/12
  p.a_mb_2
    code.a_color_danger .a_columns_gap_x_6
    |  
    code.a_color_danger .a_columns_gap_y_6
  .a_columns.a_columns_count_12.a_columns_gap_x_6.a_columns_gap_y_6
    .a_column.a_column_4
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 4/12
