aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_MODAL_COMPONENT_DESCRIPTION_"
    )

    page-modal-basic

    page-modal-body-html

    page-modal-close-button

    page-modal-save-button

    aloha-table-translate(
      :data="dataTranslate"
    )
