aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_MODAL_COMPONENT_DESCRIPTION_"
    )

    page-modal-basic

    page-modal-body-html

    page-modal-close-button

    page-modal-footer-sticky

    page-modal-save-button

    page-modal-selector-close

    page-modal-selector-close-ids

    page-modal-size

    page-modal-slots

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
