aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_SWITCH_COMPONENT_DESCRIPTION_"
    )

    page-switch-basic

    page-switch-change

    page-switch-help-text

    page-switch-errors

    page-switch-label-description

    page-switch-default

    page-switch-label-screen-reader

    page-switch-true-false-label

    page-switch-true-false-value

    page-switch-three-state

    page-switch-title

    page-switch-readonly

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )

