aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_DISABLED_HEADER_"
  description="_A_TABS_GROUP_DISABLED_DESCRIPTION_"
  :props="['disabled']"
)
  a-tabs(
    :data="data"
    :disabled="true"
  )
