aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_ON_HOOKS_DIRECTIVE_DESCRIPTION_"
    )

    a-translation.a_mt_3(
      html="_A_ON_HOOKS_DIRECTIVE_DESCRIPTION_LIST_"
    )

    page-on-hooks-example
