aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_SLOT_APPEND_HEADER_"
  description="_A_BUTTON_GROUP_SLOT_APPEND_DESCRIPTION_"
)
  a-button(
    class="a_btn a_btn_primary"
    text="Aloha"
  )
    template(
      v-slot:buttonAppend
    )
      span (***)
