aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DATEPICKER_RANGE_OPTIONS_ID_PREFIX_IS_ERROR_HEADER_"
  description="_A_DATEPICKER_RANGE_OPTIONS_ID_PREFIX_IS_ERROR_DESCRIPTION_"
  :props="['model', 'idPrefix', 'input', 'isError']"
)
  a-datepicker-range(
    :model="dateRangeModel"
    :id-prefix="idPrefix"
    :is-error="isError"
    @input="updateDateRange"
  )
