aloha-example(
  :code-html="codeHtml"
  header="_A_COLUMNS_BASIC_NAME_"
  description="_A_COLUMNS_BASIC_DESCRIPTION_"
)
  .a_columns
    .a_column
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center
        span(lang="en") auto
    .a_column
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center
        span(lang="en") auto
    .a_column
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center
        span(lang="en") auto
    .a_column
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center
        span(lang="en") auto
