aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_FIELDSET_CHILDREN_COMPONENT_DESCRIPTION_"
    )

    aloha-form-types

    page-fieldset-children-basic

    page-fieldset-children-class-column

    page-fieldset-children-class-columns

    page-fieldset-children-errors-all

    page-fieldset-children-tree

    page-fieldset-children-readonly

    aloha-table-props(
      :data="dataProps"
    )
