aloha-example(
  :code-html="codeHtml"
  header="_A_COLUMNS_COUNT_NAME_"
  description="_A_COLUMNS_COUNT_DESCRIPTION_"
)
  .a_columns.a_columns_count_8.a_mb_4
    .a_column.a_column_5
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 5/8
    .a_column.a_column_3
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 3/8
  .a_columns.a_columns_count_7.a_mb_4
    .a_column.a_column_2
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 2/7
    .a_column.a_column_2
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 2/7
    .a_column.a_column_3
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 3/7
  .a_columns.a_columns_count_12.a_mb_4
    .a_column.a_column_6
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 6/12
    .a_column.a_column_3
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 3/12
    .a_column.a_column_3
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 3/12
  .a_columns.a_columns_count_12
    .a_column.a_column_4
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center 4/12
    .a_column.a_column_4
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center 4/12
