aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_INPUT_CURRENCY_COMPONENT_DESCRIPTION_"
    )

    page-input-currency-basic

    page-input-currency-change

    page-input-currency-help-text

    page-input-currency-errors

    page-input-currency-label-description

    page-input-currency-label-screen-reader

    page-input-currency-label-float

    page-input-currency-symbol

    page-input-currency-controls-type

    page-input-currency-decimal-divider

    page-input-currency-max-min

    page-input-currency-model-type

    page-input-currency-step

    page-input-currency-decimal-part-length

    page-input-currency-thousand-divider

    page-input-currency-validation-on-change

    page-input-currency-readonly

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )
