@use "aloha_prefix" as aloha;

.#{aloha.$aloha-prefix}custom_control {
  --#{aloha.$aloha-prefix}custom_control_border_radius: var(--#{aloha.$aloha-prefix}border_radius);
  --#{aloha.$aloha-prefix}custom_control_label_padding: .5rem;
  --#{aloha.$aloha-prefix}custom_control_label_width: 100%;
  --#{aloha.$aloha-prefix}custom_control_label_color: inherit;
  --#{aloha.$aloha-prefix}custom_control_label_disabled_color: #9f9185;
  --#{aloha.$aloha-prefix}custom_control_label_text_margin_left: .5rem;
  --#{aloha.$aloha-prefix}custom_control_hover_bg: var(--#{aloha.$aloha-prefix}color_focus);
  --#{aloha.$aloha-prefix}custom_control_input_bg: var(--#{aloha.$aloha-prefix}color_white);

  --#{aloha.$aloha-prefix}custom_control_input_width: 1.5rem;
  --#{aloha.$aloha-prefix}custom_control_input_border_color: var(--#{aloha.$aloha-prefix}border_color);
  --#{aloha.$aloha-prefix}custom_control_input_border_width: var(--#{aloha.$aloha-prefix}border_width);
  --#{aloha.$aloha-prefix}custom_control_input_checked_color: var(--#{aloha.$aloha-prefix}color_white);;
  --#{aloha.$aloha-prefix}custom_control_input_checked_border_color: var(--a_color_primary);
  --#{aloha.$aloha-prefix}custom_control_input_checked_bg: var(--a_color_primary);
  --#{aloha.$aloha-prefix}custom_control_input_checked_disabled_bg:  var(--a_color_primary_50);
  --#{aloha.$aloha-prefix}custom_control_input_disabled_bg:  var(--a_color_gray_200);
  --#{aloha.$aloha-prefix}custom_control_radio_input_checked_border_color: var(--#{aloha.$aloha-prefix}color_white);
  --#{aloha.$aloha-prefix}custom_control_radio_input_checked_border_width: 4px;
  --#{aloha.$aloha-prefix}custom_control_error_color: var(--#{aloha.$aloha-prefix}color_danger);

  position: relative;
  z-index: 1;
  min-height: 1.5rem;
  color-adjust: exact;
  padding-left: 0;
  display: flex;
  hyphens: auto;
  word-break: break-word;
}
.#{aloha.$aloha-prefix}custom_control_invalid {
  --#{aloha.$aloha-prefix}custom_control_input_border_color: var(--#{aloha.$aloha-prefix}custom_control_error_color);
  --#{aloha.$aloha-prefix}custom_control_input_checked_bg: var(--#{aloha.$aloha-prefix}custom_control_error_color);
  --#{aloha.$aloha-prefix}custom_control_input_checked_border_color: var(--#{aloha.$aloha-prefix}custom_control_error_color);
  --#{aloha.$aloha-prefix}custom_control_label_color: var(--#{aloha.$aloha-prefix}custom_control_error_color);
}
.#{aloha.$aloha-prefix}custom_control_input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: visible;
}
.#{aloha.$aloha-prefix}custom_control_label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  padding: var(--#{aloha.$aloha-prefix}custom_control_label_padding);
  display: flex;
  align-items: center;
  width: var(--#{aloha.$aloha-prefix}custom_control_label_width);
  border-radius: var(--#{aloha.$aloha-prefix}custom_control_border_radius);
  color: var(--#{aloha.$aloha-prefix}custom_control_label_color);
  &:hover,
  .#{aloha.$aloha-prefix}custom_control_input:focus ~ &,
  .#{aloha.$aloha-prefix}custom_control_input:focus:not(:checked) ~ & {
    background-color: var(--#{aloha.$aloha-prefix}custom_control_hover_bg);
  }
  &:before {
    display: block;
    pointer-events: none;
    content: "";
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_bg);
    width: var(--#{aloha.$aloha-prefix}custom_control_input_width);
    height: var(--#{aloha.$aloha-prefix}custom_control_input_width);
    min-width: var(--#{aloha.$aloha-prefix}custom_control_input_width);
    min-height: var(--#{aloha.$aloha-prefix}custom_control_input_width);
    border: var(--#{aloha.$aloha-prefix}custom_control_input_border_color) solid var(--#{aloha.$aloha-prefix}custom_control_input_border_width);
    align-self: center;
    border-radius: var(--#{aloha.$aloha-prefix}custom_control_border_radius);
  }
  .#{aloha.$aloha-prefix}custom_control_input:checked ~ &:before,
  .#{aloha.$aloha-prefix}custom_control_input:checked:active ~ &:before {
    color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_color);
    border-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_border_color);
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_bg);
  }
  .#{aloha.$aloha-prefix}custom_checkbox .#{aloha.$aloha-prefix}custom_control_input:checked ~ &:before {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .#{aloha.$aloha-prefix}custom_checkbox .#{aloha.$aloha-prefix}custom_control_input:indeterminate ~ &:before {
    border-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_bg);
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_bg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
  }

  .#{aloha.$aloha-prefix}custom_control_input:disabled ~ & {
    color: var(--#{aloha.$aloha-prefix}custom_control_label_disabled_color);
  }
  .#{aloha.$aloha-prefix}custom_checkbox .#{aloha.$aloha-prefix}custom_control_input:disabled ~ &:before {
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_disabled_bg);
  }

  .#{aloha.$aloha-prefix}custom_checkbox .#{aloha.$aloha-prefix}custom_control_input:disabled:indeterminate ~ &:before,
  .#{aloha.$aloha-prefix}custom_checkbox .#{aloha.$aloha-prefix}custom_control_input:disabled:checked ~ &:before {
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_disabled_bg);
  }

  .#{aloha.$aloha-prefix}custom_radio &:before {
    border-radius: 50%;
  }
  .#{aloha.$aloha-prefix}custom_radio .#{aloha.$aloha-prefix}custom_control_input:checked ~ &:before {
    background-image: none;
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_bg);
    border: var(--#{aloha.$aloha-prefix}custom_control_radio_input_checked_border_width) solid var(--#{aloha.$aloha-prefix}custom_control_radio_input_checked_border_color);
    box-shadow: 0 0 0 2px var(--#{aloha.$aloha-prefix}custom_control_input_checked_bg);
  }
  .#{aloha.$aloha-prefix}custom_radio .#{aloha.$aloha-prefix}custom_control_input:disabled:checked ~ &::before {
    background-color: var(--#{aloha.$aloha-prefix}custom_control_input_checked_disabled_bg);
  }
}
.#{aloha.$aloha-prefix}custom_control_label__text {
  margin-left: var(--#{aloha.$aloha-prefix}custom_control_label_text_margin_left);
}
.#{aloha.$aloha-prefix}custom_control_label_width_auto {
  --#{aloha.$aloha-prefix}custom_control_label_width: auto;
}
