@use "aloha_prefix" as aloha;

.#{aloha.$aloha-prefix}float_left {
  float: left !important;
}
.#{aloha.$aloha-prefix}float_right {
  float: right !important;
}
.#{aloha.$aloha-prefix}float_none {
  float: none !important;
}