@import "aloha_prefix";
@import "breakpoint";
@import "backdrop";

.#{$aloha-prefix}modal_open {
  overflow: hidden;
  padding-right: 15px;
}

.#{$aloha-prefix}modal {
  --#{$aloha-prefix}modal_zindex: var(--a_z_index_modal);
  --#{$aloha-prefix}modal_width: 500px;
  --#{$aloha-prefix}modal_padding: 1rem;
  --#{$aloha-prefix}modal_margin: 0.5rem;
  --#{$aloha-prefix}modal_color: inherit;
  --#{$aloha-prefix}modal_bg: #fff;
  --#{$aloha-prefix}modal_border_color: var(--#{$aloha-prefix}border_color_translucent);
  --#{$aloha-prefix}modal_border_width: 1px;
  --#{$aloha-prefix}modal_border_radius: var(--#{$aloha-prefix}border_radius_large);
  --#{$aloha-prefix}modal_box_shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --#{$aloha-prefix}modal_inner_border_radius: calc(0.5rem - 1px);
  --#{$aloha-prefix}modal_header_padding_x: 1rem;
  --#{$aloha-prefix}modal_header_padding_y: 1rem;
  --#{$aloha-prefix}modal_header_padding: 1rem 1rem;
  --#{$aloha-prefix}modal_header_border_color: var(--#{$aloha-prefix}border_color);
  --#{$aloha-prefix}modal_header_border_width: 1px;
  --#{$aloha-prefix}modal_title_line_height: 1.5;
  --#{$aloha-prefix}modal_footer_gap: 0.5rem;
  --#{$aloha-prefix}modal_footer_bg: inherit;
  --#{$aloha-prefix}modal_footer_border_color: var(--#{$aloha-prefix}border_color);
  --#{$aloha-prefix}modal_footer_border_width: 1px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$aloha-prefix}modal_zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.#{$aloha-prefix}modal_confirm {
  --#{$aloha-prefix}modal_zindex: var(--a_z_index_confirm);
}
.#{$aloha-prefix}modal_show {
  display: block;
}
.#{$aloha-prefix}modal_dialog {
  position: relative;
  width: auto;
  margin: var(--#{$aloha-prefix}modal_margin);
  pointer-events: none;
}

.#{$aloha-prefix}modal_content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--#{$aloha-prefix}modal_color);
  pointer-events: auto;
  background-color: var(--#{$aloha-prefix}modal_bg);
  background-clip: padding-box;
  border: var(--#{$aloha-prefix}modal_border_width) solid var(--#{$aloha-prefix}modal_border_color);
  border-radius: var(--#{$aloha-prefix}modal_border_radius);
  outline: 0;
  .#{$aloha-prefix}modal_dialog_scrollable & {
    max-height: 100%;
    overflow: hidden;
  }
}
.#{$aloha-prefix}modal_dialog_scrollable {
  height: calc(100% - var(--#{$aloha-prefix}modal_margin) * 2);
}
.#{$aloha-prefix}modal_header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--#{$aloha-prefix}modal_header_padding);
  border-bottom: var(--#{$aloha-prefix}modal_header_border_width) solid var(--#{$aloha-prefix}modal_header_border_color);
  border-top-left-radius: var(--#{$aloha-prefix}modal_inner_border_radius);
  border-top-right-radius: var(--#{$aloha-prefix}modal_inner_border_radius);
  .#{$aloha-prefix}btn_close {
    padding: calc(var(--#{$aloha-prefix}modal_header_padding_y) * .5) calc(var(--#{$aloha-prefix}modal_header_padding_x) * .5);
    margin: calc(var(--#{$aloha-prefix}modal_header_padding_y) * -.5) calc(var(--#{$aloha-prefix}modal_header_padding_x) * -.5) calc(var(--#{$aloha-prefix}modal_header_padding_y) * -.5) auto;
  }
}
.#{$aloha-prefix}modal_title {
  margin: 0;
  line-height: var(--#{$aloha-prefix}modal_title_line_height);
}
.#{$aloha-prefix}modal_body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--#{$aloha-prefix}modal_padding);
  .#{$aloha-prefix}modal_dialog_scrollable & {
    overflow-y: auto;
  }
}
.#{$aloha-prefix}modal_footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--#{$aloha-prefix}modal_padding) - var(--#{$aloha-prefix}modal_footer_gap) * .5);
  background-color: var(--#{$aloha-prefix}modal_footer_bg);
  border-top: var(--#{$aloha-prefix}modal_footer_border_width) solid var(--#{$aloha-prefix}modal_footer_border_color);
  border-bottom-right-radius: var(--#{$aloha-prefix}modal_inner_border_radius);
  border-bottom-left-radius: var(--#{$aloha-prefix}modal_inner_border_radius);
  & > * {
    margin: calc(var(--#{$aloha-prefix}modal_footer_gap) * 0.5);
  }
}
@media (min-width: #{$a_breakpoint_mobile}) {
  .#{$aloha-prefix}modal {
    --#{$aloha-prefix}modal_margin: 1.75rem;
    --#{$aloha-prefix}modal_box_shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .#{$aloha-prefix}modal_dialog {
    max-width: var(--#{$aloha-prefix}modal_width);
    margin-right: auto;
    margin-left: auto;
  }
  .#{$aloha-prefix}modal_small {
    --#{$aloha-prefix}modal_width: 300px;
  }
}
@media (min-width: #{$a_breakpoint_tablet}) {
  .#{$aloha-prefix}modal_large,
  .#{$aloha-prefix}modal_xl {
    --#{$aloha-prefix}modal_width: 800px;
  }
  .#{$aloha-prefix}modal_xxl {
    --#{$aloha-prefix}modal_width: 90vw;
  }
}
@media (min-width: #{$a_breakpoint_desktop}) {
  .#{$aloha-prefix}modal_xl {
    --#{$aloha-prefix}modal_width: 1140px;
  }
  .#{$aloha-prefix}modal_xxl {
    --#{$aloha-prefix}modal_width: 90vw;
  }
}
.#{$aloha-prefix}modal_fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
  .#{$aloha-prefix}modal_content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .#{$aloha-prefix}modal_header,
  .#{$aloha-prefix}modal_footer {
    border-radius: 0;
  }
  .#{$aloha-prefix}modal_body {
    overflow-y: auto;
  }
}
