@use "sass:map";

@each $distance in $distance-options {
  $distance-suffix: map.get($distance, "class");
  $distance-value: map.get($distance, "value");

  .a_m_#{$distance-suffix} {
    margin: #{$distance-value};
  }
  .a_p_#{$distance-suffix} {
    padding: #{$distance-value};
  }
  @each $direction in $directions {
    $direction-suffix: map.get($direction, "class");
    $direction-values: map.get($direction, "values");

    .a_m#{$direction-suffix}_#{$distance-suffix} {
      @each $direction-value in $direction-values {
        margin-#{$direction-value}: #{$distance-value};
      }
    }
    .a_p#{$direction-suffix}_#{$distance-suffix} {
      @each $direction-value in $direction-values {
        padding-#{$direction-value}: #{$distance-value};
      }
    }
  }
}
