@use "aloha_prefix" as aloha;

.#{aloha.$aloha-prefix}sr_only,
.#{aloha.$aloha-prefix}sr_only_focusable:not(:focus):not(:focus-within) {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 0.01em !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
}
