@use "sass:map";

@mixin set-width-height($distance-options-local) {
  @each $distance in $distance-options-local {
    $distance-suffix: map.get($distance, "class");
    $distance-value: map.get($distance, "value");
    .w-#{$distance-suffix} {
      width: #{$distance-value};
    }
    .h-#{$distance-suffix} {
      height: #{$distance-value};
    }
  }
}

@include set-width-height($distance-options);
@include set-width-height($distance-options-additional);
