aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SHOW_MORE_GROUP_BTN_TEXTS_HEADER_"
  description="_A_SHOW_MORE_GROUP_BTN_TEXT_DESCRIPTION_"
  :props="['btn-text-more', 'btn-text-less']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-show-more(
        :html="html"
        btn-text-more="Show more aloha"
        btn-text-less="Show less aloha"
      )
