aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_COMPLEX_HEADER_"
  description="_A_BUTTON_GROUP_COMPLEX_DESCRIPTION_"
  :props="['class', 'loading', 'loading-align', 'text', 'text-before', 'icon-left', 'icon-right', 'title', 'text-aria-hidden', 'text-screen-reader']"
)
  a-button(
    class="a_btn a_btn_primary"
    :loading="loading"
    loading-align="left"
    :text="{ desktop: 'Aloha' }"
    :text-before="{ desktop: '$ ' }"
    :icon-left="{ desktop: 'Dnd', mobile: 'Cog' }"
    :icon-right="{ mobile: 'Cog' }"
    :title="{ desktop: 'Aloha' }"
    :text-aria-hidden="true"
    :text-screen-reader="{ desktop: 'Aloha', mobile: 'Aloha-mobile' }"
    @click="toggleLoading"
  )
