aloha-example(
  :code-html="codeHtml"
  header="_A_COLUMNS_BREAKPOINTS_NAME_"
  description="_A_COLUMNS_BREAKPOINTS_DESCRIPTION_"
)
  p.a_mb_2
    code.a_color_danger .a_column_12_mobile
    |  
    code.a_color_danger .a_column_6_tablet
    |  
    code.a_color_danger .a_column_4_desktop
  .a_columns.a_columns_count_12
    .a_column.a_column_12_mobile.a_column_6_tablet.a_column_4_desktop
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center
        span(lang="en") mobile
        |  12 / 
        span(lang="en") tablet
        |  6 / 
        span(lang="en") desktop
        |  4
    .a_column.a_column_12_mobile.a_column_6_tablet.a_column_4_desktop
      .a_bg_gray_300.a_height_6.a_p_2.a_text_center
        span(lang="en") mobile
        |  12 / 
        span(lang="en") tablet
        |  6 / 
        span(lang="en") desktop
        |  4
    .a_column.a_column_12_mobile.a_column_6_tablet.a_column_4_desktop
      .a_bg_gray_200.a_height_6.a_p_2.a_text_center
        span(lang="en") mobile
        |  12 / 
        span(lang="en") tablet
        |  6 / 
        span(lang="en") desktop
        |  4
