aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_SORT_DISABLED_HEADER_"
  description="_A_TABLE_GROUP_SORT_DISABLED_DESCRIPTION_"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_SORT_DISABLED_LABEL_"
      key-id="id"
      :disabled-sort="true"
    )
