aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_COPY_GROUP_SLOT_LINK_HEADER_"
  description="_A_LINK_COPY_GROUP_SLOT_LINK_DESCRIPTION_"
  props="disabled"
)
  a-link-copy(
    :link-options="{ class: 'a_btn a_btn_secondary', href: 'https://github.com/' }"
  )
    template(
      v-slot:link
    )
      strong github.com
