aloha-example(
  :code-html="codeHtml"
  header="_A_BASIC_USAGE_"
)
  div
    span.a_badge.a_badge_primary primary
    span.a_badge.a_badge_secondary.a_ml_2 secondary
    span.a_badge.a_badge_tertiary.a_ml_2 tertiary
    span.a_badge.a_badge_success.a_ml_2 success
    span.a_badge.a_badge_info.a_ml_2 info
    span.a_badge.a_badge_warning.a_ml_2 warning
    span.a_badge.a_badge_danger.a_ml_2 danger
    span.a_badge.a_badge_light.a_ml_2 light
    span.a_badge.a_badge_dark.a_ml_2 dark