aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PAGE_FILTERS_HEADER_"
  description="_A_PAGE_FILTERS_DESCRIPTION_"
  :props="['view']"
)
  div
    a-filters(
      :filters="filters"
      view="right"
      v-model:applied-model="appliedModel"
      v-model:unapplied-model="unappliedModel"
    )
