.a_table__top_panel
  .text-end
    .btn-group
      button.btn(
        v-for="column in columns"
        :key="column.id"
        type="button"
        :class="modelColumns.indexOf(column.id) !== -1 ? 'btn-secondary' : 'btn-outline-secondary'"
        @click="changeModelColumns(column.id)"
      ) {{ column.label }}
