aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_LIST_COMPONENT_DESCRIPTION_"
    )

    page-list-class-group

    page-list-without-children

    page-list-key-children

    page-list-key-label-callback

    page-list-tag-label-tag

    page-list-with-slot

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )
