aloha-page(
  :page-title="pageTitle"
  :page-title-h1="pageTitleH1"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_JSON_COMPONENT_DESCRIPTION_"
    )

    page-json-basic

    page-json-change

    page-json-help-text

    page-json-errors

    page-json-label-description

    page-json-label-screen-reader

    page-json-readonly

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )

