div
  h1 PageLoading
  .a_position_relative
    a-loading(
      :is-loading="true"
    )
      div
        ul
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
          li sfdsf
