teleport(
  :to="toForTeleport"
  :disabled="disabledTeleport"
)
  div(
    ref="tooltip"
    :class="parentClass"
    v-bind="$attrs"
    @mouseenter="mouseenterLocal"
    @mouseleave="mouseleaveLocal"
  )
    .tooltip-arrow
    .tooltip-inner(
      :class="classForTooltipInner"
      :style="stylesForTooltipInnerLocal"
    )
      slot
