aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_SPINNER_COMPONENT_DESCRIPTION_"
    )

    page-spinner-basic

    page-spinner-aria-label

    page-spinner-sizes

    page-spinner-colors

    aloha-table-props(
      :data="dataProps"
    )
