aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  :props="['is-loading']"
)
  .a_position_relative
    a-loading(
      :is-loading="true"
    )
      ul
        li aloha 1
        li aloha 2
        li aloha 3
