aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_FIELDSET_COMPONENT_DESCRIPTION_"
    )

    page-fieldset-basic

    page-fieldset-change

    page-fieldset-help-text

    page-fieldset-error

    page-fieldset-collapse

    page-fieldset-has-border

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
