aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_GROUP_COMPONENT_DESCRIPTION_"
    )

    page-group-basic

    //aloha-table-props(
    //  :data="dataProps"
    //)
    //
    //aloha-table-props(
    //  table-label="Events"
    //  :data="dataEvents"
    //  :columns="['name', 'type', 'description']"
    //)
    //
    //aloha-table-translate(
    //  :data="dataTranslate"
    //)

