aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DISCLOSURE_GROUP_DISABLED_HEADER_"
  description="_A_DISCLOSURE_GROUP_DISABLED_DESCRIPTION_"
  props="disabled"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-disclosure(
        :text-less="textLess"
        :text-more="textMore"
        :disabled="true"
      )
