aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    page-table-simple-example

    page-table-simple-is-simple-table-example

    page-table-simple-columns-grouped-example

    page-table-simple-mobile-slots-example

