aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SHOW_MORE_GROUP_TEXT_LENGTH_HEADER_"
  description="_A_SHOW_MORE_GROUP_TEXT_LENGTH_DESCRIPTION_"
  :props="['text', 'text-length']"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-show-more(
        :text="text"
        :text-length="200"
      )
      a-show-more.a_mt_2(
        :text="text2"
        :text-length="200"
      )
