aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_KEY_LABEL_HEADER_"
  description="_A_TABS_GROUP_KEY_LABEL_DESCRIPTION_"
  :props="['key-label']"
)
  a-tabs(
    :data="data"
    key-label="name"
  )
