aloha-page(
  page-title="_A_POSITION_PAGE_NAME_"
  page-title-h1="_A_POSITION_PAGE_NAME_"
)
  template(
    v-slot:body
  )
    page-position-types

    page-position-offsets

    page-position-translate
