aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_COPY_GROUP_LINK_OPTIONS_HEADER_"
  description="_A_LINK_COPY_GROUP_LINK_OPTIONS_DESCRIPTION_"
  props="link-options"
)
  a-link-copy(
    :link-options="{ class: 'a_btn a_btn_secondary', text: 'https://github.com/', href: 'https://github.com/' }"
  )
