.a_carousel {
  background-color: var(--a_color_gray_200);
}
.a_carousel__inner {
  position: relative;
}
.a_carousel__items {
  padding: 0;
}
.a_carousel__item {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100px;
}
.a_carousel__item_active {
  display: block;
}
.a_carousel_tabs_top {
  .a_carousel__tabs__wrapper {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.a_carousel_tabs_top-start {
  .a_carousel__tabs__wrapper {
    top: 2rem;
    left: 1rem;
  }
}
.a_carousel_tabs_top-end {
  .a_carousel__tabs__wrapper {
    top: 2rem;
    right: 1rem;
  }
}
.a_carousel_tabs_bottom {
  .a_carousel__tabs__wrapper {
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.a_carousel_tabs_bottom-start {
  .a_carousel__tabs__wrapper {
    bottom: 2rem;
    left: 1rem;
  }
}
.a_carousel_tabs_bottom-end {
  .a_carousel__tabs__wrapper {
    bottom: 2rem;
    right: 1rem;
  }
}
.a_carousel_arrows_sides-center {
  .a_carousel__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: hsla(0, 0%, 8%, .5);
    color: #fff;
    outline: none;
    border: none;
    &:hover {
      background-color: hsla(0, 0%, 8%, .7);
    }
    &:focus {
      outline: 2px solid white !important;
      box-shadow: 0 0 0 2px black;
      outline-offset: -2px;
      background-color: hsla(0, 0%, 8%, .7);
    }
    .a_icon {
      width: 2rem;
      height: auto;
    }
  }
  .a_carousel__arrow_previous {
    left: 0;
  }
  .a_carousel__arrow_next {
    right: 0;
  }
}
.a_carousel_arrows_sides-top {
  .a_carousel__arrow {
    position: absolute;
    top: 2rem;
    z-index: 1;
  }
  .a_carousel__arrow_previous {
    left: 1rem;
  }
  .a_carousel__arrow_next {
    right: 1rem;
  }
}
.a_carousel_arrows_sides-bottom {
  .a_carousel__arrow {
    position: absolute;
    bottom: 2rem;
    z-index: 1;
  }
  .a_carousel__arrow_previous {
    left: 1rem;
  }
  .a_carousel__arrow_next {
    right: 1rem;
  }
}
.a_carousel_arrows_top-left {
  .a_carousel__arrow {
    position: absolute;
    top: 2rem;
    z-index: 1;
  }
  .a_carousel__arrow__wrapper {
    left: 1rem;
  }
}
.a_carousel_arrows_top-right {
  .a_carousel__arrow {
    position: absolute;
    top: 2rem;
    z-index: 1;
  }
  .a_carousel__arrow__wrapper {
    right: 1rem;
  }
}
.a_carousel_arrows_bottom-left {
  .a_carousel__arrow {
    position: absolute;
    bottom: 2rem;
    z-index: 1;
  }
  .a_carousel__arrow__wrapper {
    left: 1rem;
  }
}
.a_carousel_arrows_bottom-right {
  .a_carousel__arrow {
    position: absolute;
    bottom: 2rem;
    z-index: 1;
  }
  .a_carousel__arrow__wrapper {
    right: 1rem;
  }
}
.a_carousel_trigger_hover {
  &:hover {
    .a_carousel__arrow {
      display: block;
    }
  }
  .a_carousel__arrow {
    display: none;
  }
}
.a_carousel_trigger_focus {
  &:focus-within {
    .a_carousel__arrow {
      display: block;
    }
  }
  .a_carousel__arrow {
    display: none;
  }
}
.a_carousel__tabs__wrapper {
  position: absolute;
  z-index: 2;
}
.a_carousel__tabs {
  box-sizing: border-box;
  border: 0 transparent solid;
  border-radius: 13px;
  display: flex;
  padding-top: 2px;
  height: 30px;
  background-color: rgb(0 0 0 / 65%);
  &:focus-within {
    border-width: 2px;
    border-color: white;
    padding-top: 0;
    background-color: #005a9c;
  }
}
.a_carousel__tabs_dots,
.a_carousel__tabs_squares {
  &:focus-within {
    .tab-background {
      stroke: #005a9c;
      fill: #005a9c;
    }
  }
  .a_carousel__tabs__btn {
    .a_icon {
      width: 34px;
      height: 34px;
    }
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 34px;
    color: #fff;
    &:focus {
      .border {
        display: block;
        fill: #005a9c;
        stroke: #fff;
      }
      .tab-background {
        stroke: #005a9c;
        fill: #005a9c;
      }
    }
    &:hover {
      .tab-background {
        fill: white;
        stroke: white;
        opacity: 1;
      }
      .tab,
      .border {
        fill: #005a9c;
        stroke: #005a9c;
        opacity: 1;
      }
    }
  }
  .a_carousel__tabs__btn_active {
    &:hover {
      .tab {
        fill: white;
      }
    }
    .tab {
      fill: white;
    }
  }
  .tab,
  .border {
    stroke: white;
    fill: transparent;
    stroke-width: 2px;
  }
  .border {
    display: none;
    z-index: 12;
  }
  .tab-background {
    stroke: black;
    fill: black;
    stroke-width: 2px;
    opacity: 0.6;
    z-index: 14;
  }
  .tab {
    z-index: 16;
  }
}

