aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_SHOW_MORE_GROUP_SLOTS_HEADER_"
  description="_A_SHOW_MORE_GROUP_SLOTS_DESCRIPTION_"
)
  .a_columns.a_columns_count_12
    .a_column.a_column_4.a_column_12_tablet
      a-show-more(
        btn-text-less=""
        btn-text-more=""
      )
        template(
          v-slot:button="{ isButtonVisible, isOpen }"
        )
          span {{ isOpen ? "Show less" : "Show more" }}

        template(
          v-slot:default="{ isButtonVisible, isOpen }"
        )
          p isButtonVisible: {{ isButtonVisible }}
          p isOpen: {{ isOpen }}
          ul
            li 1 aloha
            li 2 aloha
            li 3 aloha
            li 4 aloha
            li 5 aloha
            li 6 aloha
            li 7 aloha
            li 8 aloha
            li 9 aloha
            li 10 aloha
            li 11 aloha
            li 12 aloha
