aloha-example(
  :code-html="codeHtml"
  header="_A_TEXT_STYLES_ALIGNMENT_NAME_"
  description="_A_TEXT_STYLES_ALIGNMENT_DESCRIPTION_"
)
  .a_text_left
    code.a_color_danger .a_text_left
    |  Text
  .a_text_right
    code.a_color_danger .a_text_right
    |  Text
  .a_text_center
    code.a_color_danger .a_text_center
    |  Text
  .a_text_justify
    code.a_color_danger .a_text_justify
    |  Text
  br
  .a_text_left_mobile
    code.a_color_danger .a_text_left_mobile
    |  Text
  .a_text_right_mobile
    code.a_color_danger .a_text_right_mobile
    |  Text
  .a_text_center_mobile
    code.a_color_danger .a_text_center_mobile
    |  Text
  .a_text_justify_mobile
    code.a_color_danger .a_text_justify_mobile
    |  Text
  br
  .a_text_left_tablet
    code.a_color_danger .a_text_left_tablet
    |  Text
  .a_text_right_tablet
    code.a_color_danger .a_text_right_tablet
    |  Text
  .a_text_center_tablet
    code.a_color_danger .a_text_center_tablet
    |  Text
  .a_text_justify_tablet
    code.a_color_danger .a_text_justify_tablet
    |  Text
  br
  .a_text_left_touch
    code.a_color_danger .a_text_left_touch
    |  Text
  .a_text_right_touch
    code.a_color_danger .a_text_right_touch
    |  Text
  .a_text_center_touch
    code.a_color_danger .a_text_center_touch
    |  Text
  .a_text_justify_touch
    code.a_color_danger .a_text_justify_touch
    |  Text
  br
  .a_text_left_desktop
    code.a_color_danger .a_text_left_desktop
    |  Text
  .a_text_right_desktop
    code.a_color_danger .a_text_right_desktop
    |  Text
  .a_text_center_desktop
    code.a_color_danger .a_text_center_desktop
    |  Text
  .a_text_justify_desktop
    code.a_color_danger .a_text_justify_desktop
    | Text
  br
  .a_text_left_widescreen
    code.a_color_danger .a_text_left_widescreen
    |  Text
  .a_text_right_widescreen
    code.a_color_danger .a_text_right_widescreen
    |  Text
  .a_text_center_widescreen
    code.a_color_danger .a_text_center_widescreen
    |  Text
  .a_text_justify_widescreen
    code.a_color_danger .a_text_justify_widescreen
    |  Text
  br
  .a_text_left_fullhd
    code.a_color_danger .a_text_left_fullhd
    |  Text
  .a_text_right_fullhd
    code.a_color_danger .a_text_right_fullhd
    |  Text
  .a_text_center_fullhd
    code.a_color_danger .a_text_center_fullhd
    |  Text
  .a_text_justify_fullhd
    code.a_color_danger .a_text_justify_fullhd
    |  Text
  br
  .a_text_left_large
    code.a_color_danger .a_text_left_large
    |  Text
  .a_text_right_large
    code.a_color_danger .a_text_right_large
    |  Text
  .a_text_center_large
    code.a_color_danger .a_text_center_large
    |  Text
  .a_text_justify_large
    code.a_color_danger .a_text_justify_large
    |  Text
