aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_LINK_GROUP_COMPLEX_HEADER_"
  description="_A_LINK_GROUP_COMPLEX_DESCRIPTION_"
)
  a-link(
    class="a_btn a_btn_primary"
    :text="{ desktop: 'Aloha' }"
    :text-before="{ desktop: '$ ' }"
    :icon-left="{ desktop: 'Gear', mobile: 'Code' }"
    :icon-right="{ mobile: 'Code' }"
    :title="{ desktop: 'Aloha' }"
    :text-aria-hidden="true"
    :text-screen-reader="{ desktop: 'Aloha', mobile: 'Aloha-mobile' }"
    href="https://github.com/"
  )
