aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_FILE_SIZE_DESCRIPTION_"
    )

    page-filter-file-size-import-function

    page-filter-file-size-import-composition-api

    page-filter-file-size-arguments

    page-filter-file-size-example

    page-filter-file-size-units

    page-filter-file-size-units-empty

    page-filter-file-size-source-units

    page-filter-file-size-digits

    aloha-table-translate(
      :data="dataTranslate"
    )
