aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_JSON_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterJson"
    )

    page-filter-import-composition-api(
      function-name="filterJson"
    )

    page-filter-json-arguments

    page-filter-json-example

    page-filter-json-space

    page-filter-json-replacer
