aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_CLOAK_GROUP_TEXT_ALIGN_HEADER_"
  description="_A_CLOAK_GROUP_TEXT_ALIGN_DESCRIPTION_"
  :props="['text-align']"
)
  a-cloak(
    text-align="left"
  )
  a-cloak(
    text-align="right"
  )
