aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_DATE_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterDate"
    )

    page-filter-date-import-composition-api

    page-filter-date-arguments

    page-filter-date-example

    page-filter-date-format
