aloha-example(
  :code-html="codeHtml"
  header="_A_TEXT_STYLES_FONT_WEIGHT_NAME_"
  description="_A_TEXT_STYLES_FONT_WEIGHT_DESCRIPTION_"
)
  .a_text_bold
    code.a_color_danger.a_mr_2 .a_text_bold
    | Text
  .a_text_bolder
    code.a_color_danger.a_mr_2 .a_text_bolder
    | Text
  .a_text_semibold
    code.a_color_danger.a_mr_2 .a_text_semibold
    | Text
  .a_text_light
    code.a_color_danger.a_mr_2 .a_text_light
    | Text
  .a_text_lighter
    code.a_color_danger.a_mr_2 .a_text_lighter
    | Text
  .a_text_italic
    code.a_color_danger.a_mr_2 .a_text_italic
    | Text
  .a_text_normal
    code.a_color_danger.a_mr_2 .a_text_normal
    | Text
