div
  h1 ANotification
  button.a_btn.a_mr_2(
    v-for="type in types"
    :key="type"
    :class="'a_btn_' + type"
    type="button"
    @click="addNotificationLocal(type)"
  ) Add Notification {{ type }}
