aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABLE_GROUP_FILTERS_SAVE_HEADER_"
  description="_A_TABLE_GROUP_FILTERS_SAVE_DESCRIPTION_"
  :props="['filter.canSave']"
)
  div
    a-table(
      :columns="columns"
      :data="data"
      label="_A_TABLE_GROUP_FILTERS_LABEL_"
      key-id="id"
      :filter="{ filters, canSave: true }"
      :model-filters="modelFilters"
      @update-model-filters="updateModelFilters"
    )
