aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  description="_A_GROUP_BUTTON_DROPDOWN_GROUP_BASIC_DESCRIPTION_"
  props="actions"
)
  a-group-button-dropdown(
    :actions="actions"
  )
