aloha-page(
  page-title="_A_COLUMNS_NAME_"
  page-title-h1="_A_COLUMNS_NAME_"
)
  template(
    v-slot:body
  )
    page-columns-basic

    page-columns-count

    page-columns-gap

    page-columns-offset

    page-columns-breakpoints

