aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_DATEPICKER_RANGE_OPTIONS_ERRORS_HTML_ID_HEADER_"
  description="_A_DATEPICKER_RANGE_OPTIONS_ERRORS_HTML_ID_DESCRIPTION_"
  :props="['htmlId', 'model', 'input', 'options', 'errors']"
)
  a-datepicker-range(
    html-id="myDatepicker3"
    :model="dateRangeModel"
    :options="options"
    :errors="errors"
    @input="updateDateRange"
  )
