aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_PROGRESS_GROUP_REVERS_HEADER_"
  description="_A_PROGRESS_GROUP_REVERS_DESCRIPTION_"
  props="revers"
)
  a-progress(
    :value="20"
    :revers="true"
  )
  a-progress(
    class="a_mt_4"
    :value="40"
    :revers="true"
  )
