a-menu(
  :data="menuItems"
  button-toggle-visible="mobile"
  :is-blocker-clickable="true"
)

//.the_menu
//  ul.the_menu__ul
//    the-menu-item(
//      v-for="item in menuItems"
//      :key="item.id"
//      :data="item"
//    )
