a-menu(
  :data="menuItems"
  button-toggle-visible="always"
  :is-blocker-clickable="true"
  key-children="children"
  key-slot="slot"
)
  template(
    v-slot:slotItem="{ item, label }"
  )
    span(
      v-html="label"
    )

//.the_menu
//  ul.the_menu__ul
//    the-menu-item(
//      v-for="item in menuItems"
//      :key="item.id"
//      :data="item"
//    )
