a-menu(
  :items="menuItems"
  button-toggle-visible="mobile"
)

//.the_menu
//  ul.the_menu__ul
//    the-menu-item(
//      v-for="item in menuItems"
//      :key="item.id"
//      :data="item"
//    )
