a-menu(
  :data="menuItems"
  button-toggle-visible="always"
  :is-blocker-clickable="true"
  :is-breadcrumbs-link-truncated="false"
  key-children="children"
  key-slot="slot"
)
  template(
    v-slot:slotItem="{ item, label }"
  )
    span(
      v-html="label"
    )
