aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_GROUP_BUTTON_DROPDOWN_GROUP_EXTRA_CLASSES_HEADER_"
  description="_A_GROUP_BUTTON_DROPDOWN_GROUP_EXTRA_CLASSES_DESCRIPTION_"
  :props="['actions.classExtra']"
)
  a-group-button-dropdown(
    :actions="actions"
    :index-first-dropdown-action="2"
    :index-first-dropdown-action-mobile="2"
  )
