aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BUTTON_GROUP_TEXT_OBJECT_HEADER_"
  description="_A_BUTTON_GROUP_TEXT_OBJECT_DESCRIPTION_"
  props="text"
)
  a-button(
    class="a_btn a_btn_primary"
    :text="{ mobile: 'Aloha', desktop: 'Aloha-desktop' }"
  )
