.a_datepicker_range {
  --a_input_datepicker_range_width: 100%;
  --a_input_datepicker_range_max_width: 100%;
  --a_input_datepicker_range_min_width: 100px;

  --a_datepicker_range_label_padding_right: .5rem;
  --a_datepicker_range_label_max_margin_left: 6px;
  --a_datepicker_range_label_white_space: nowrap;

  .a_form_element {
    width: var(--a_input_datepicker_range_width);
    max-width: var(--a_input_datepicker_range_max_width);
    min-width: var(--a_input_datepicker_range_min_width);
  }
}
.a_datepicker_range__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .5rem;
}
.a_datepicker_range__group {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}
.a_datepicker_range__label {
  margin-right: var(--a_datepicker_range_label_padding_right);
  white-space: var(--a_datepicker_range_label_white_space);
}
.a_datepicker_range__label_max {
  margin-left: var(--a_datepicker_range_label_max_margin_left);
}

.a_datepicker_range__help_text {
  padding-left: 10px;
}