//$switch-disabled-bg:                                    $grey-3;
//$switch-disabled-inside-bg:                             $grey-2;

$switch-disabled-bg:                                    #d0c9c0;
$switch-disabled-inside-bg:                             #ece9e7;

.switch_button {
  --a_switch_button_border_radius: var(--a_border_radius);
  --a_switch_button_bg: var(--a_color_gray_700);
  --a_switch_button_inner_bg: var(--a_color_white);
  --a_switch_button_active_bg: var(--a_color_primary);
  --a_switch_button_inactive_bg: var(--a_color_gray_400);
  --a_switch_hover_focus_bg: var(--a_color_focus);
  --a_switch_button_border_color: var(--a_switch_button_bg);
  --a_switch_button_invalid_color: var(--a_color_danger);
  margin-left: -5px;
  position: relative;
}

.switch_button__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked {
    ~ .switch_button__label {
      &::before {
        --a_switch_button_bg: var(--a_switch_button_active_bg);
        --a_switch_button_border_color: var(--a_switch_button_active_bg);
      }
      &::after {
        left: 23px;
      }
    }
  }
  &:not(:disabled) {
    &:focus ~ .switch_button__label {
      background-color: var(--a_switch_hover_focus_bg);
    }
    ~ .switch_button__label {
      &:hover {
        background-color: var(--a_switch_hover_focus_bg);
      }
    }
  }
  &:disabled {
    ~ .switch_button__label {
      &::before {
        --a_switch_button_bg: $switch-disabled-bg;
      }
      &::after {
        background-color: $switch-disabled-inside-bg;
      }
    }
  }
}

.switch_button__label {
  padding-left: 55px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--a_switch_button_border_radius);
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: 25px;
    width: 40px;
    border-radius: var(--a_switch_button_border_radius);
    background-color: var(--a_switch_button_bg);
    border: 1px solid var(--a_switch_button_border_color);
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 20px;
    width: 20px;
    background-color: var(--a_switch_button_inner_bg);
    border-radius: var(--a_switch_button_border_radius);
  }
}

.switch_button_invalid {
  .switch_button__label{
    &::before {
      --a_switch_button_border_color: var(--a_switch_button_invalid_color);
    }
    &::after {
      --a_switch_button_inner_bg: var(--a_switch_button_invalid_color);
    }
  }
  .switch_button__input:checked ~ .switch_button__label::before {
    --a_switch_button_border_color: var(--a_switch_button_invalid_color);
  }
  &.switch_button_undefined .switch_button__label::before {
    --a_switch_button_border_color: var(--a_switch_button_invalid_color);
  }
}

.switch_button_undefined {
  .switch_button__label {
    &::before {
      --a_switch_button_bg: var(--a_switch_button_inactive_bg);
      --a_switch_button_border_color: var(--a_switch_button_inactive_bg);
    }
    &::after {
      left: 15px;
    }
  }
}

