aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_SAFE_HTML_HEADER_"
  description="_A_ALERT_GROUP_SAFE_HTML_DESCRIPTION_"
  props="safe-html"
)
  a-alert(
    :safe-html="html"
    :is-visible="true"
    type="primary"
  )
