aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_CURRENCY_DESCRIPTION_"
    )

    page-filter-currency-import-function

    page-filter-currency-import-composition-api

    page-filter-currency-arguments

    page-filter-currency-example

    page-filter-currency-suffix

    page-filter-currency-digits

    page-filter-currency-digit-grouping
