aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_BUTTON_COMPONENT_DESCRIPTION_"
    )

    page-button-basic

    page-button-outline

    page-button-transparent

    page-button-sizes

    page-button-group

    page-button-group-vertical

    page-button-group-horizontal-vertical

    page-button-group-sizes

    page-button-icons

    page-button-disabled

    page-button-aria-disabled

    page-button-loading

    page-button-text-after-before

    page-button-text-tag

    page-button-safe-html

    page-button-html

    page-button-text-object

    page-button-title-array

    page-button-title-html

    page-button-title-html-extra

    page-button-stop

    page-button-slot-default

    page-button-slot-prepend

    page-button-slot-append

    page-button-slot-title

    page-button-switch

    page-button-complex

    aloha-table-props(
      :data="dataProps"
    )
      template(
        v-slot:class-default="{ row }"
      )
        aloha-highlightjs(
          :code="row.scss"
        )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    //-aloha-table-props( TODO: Exposes
    //-  table-label="Exposes"
    //-  :data="dataExposes"
    //-  :columns="['name', 'type', 'description']"
    //-)
