aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TRANSLATION_GROUP_TITLE_HEADER_"
  description="_A_TRANSLATION_GROUP_TITLE_DESCRIPTION_"
  props="title"
)
  a-translation(
    title="_A_TRANSLATION_SHOW_MORE_"
  ) Aloha
