tooltip-content(
  v-if="isOpenLocal"
  :id="id"
  ref="tooltipContent"
  role="tooltip"
  :parent-class="parentClass"
  :id-teleport="idForTeleport"
  :class-for-tooltip-inner="classForTooltipInner"
  :styles-for-tooltip-inner="stylesForTooltipInner"
  :style="styleTooltipContent"
  @closeComponent="closePopover"
)
  slot
