aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_SEARCH_HIGHLIGHT_DESCRIPTION_"
    )

    page-filter-search-highlight-import-function

    page-filter-search-highlight-import-composition-api

    page-filter-search-highlight-arguments

    page-filter-search-highlight-search-model

    page-filter-search-highlight-search-class
