aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_TABS_GROUP_KEY_ACTIVE_HEADER_"
  description="_A_TABS_GROUP_KEY_ACTIVE_DESCRIPTION_"
  :props="['key-active']"
)
  a-tabs(
    :data="data"
    key-active="active"
  )
