aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_RADIO_COMPONENT_DESCRIPTION_"
    )

    page-radio-basic

    page-radio-change

    page-radio-help-text

    page-radio-error

    page-radio-label-description

    page-radio-label-screen-reader

    page-radio-group

    page-radio-search

    page-radio-search-text-in-html

    page-radio-key-disabled

    page-radio-translate-data

    page-radio-is-button-group

    page-radio-collapse

    page-radio-data-extra

    page-radio-inline

    page-radio-two-columns

    page-radio-has-border

    page-radio-is-data-simple-array

    page-radio-is-width-auto

    page-radio-key-label-callback

    page-radio-key-title

    page-radio-sort-order

    page-radio-sort-order-group

    page-radio-is-model-array

    page-radio-focus-blur

    page-radio-readonly

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
