aloha-example(
  :code-html="codeHtml"
  header="_A_TEXT_STYLES_TRANSFORMATION_NAME_"
  description="_A_TEXT_STYLES_TRANSFORMATION_DESCRIPTION_"
)
  div
    code.a_color_danger.a_mr_2 .a_text_lowercase
    span.a_text_lowercase TEXT
  div
    code.a_color_danger.a_mr_2 .a_text_uppercase
    span.a_text_uppercase Text
  div
    code.a_color_danger.a_mr_2 .a_text_capitalize
    span.a_text_capitalize text
  div
    code.a_color_danger.a_mr_2 .a_text_underline
    span.a_text_underline Text
  div
    code.a_color_danger.a_mr_2 .a_text_line_through
    span.a_text_line_through Text
  div
    code.a_color_danger.a_mr_2 .a_text_decoration_none
    span.a_text_decoration_none Text
