aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_BASIC_USAGE_"
  :props="['model-value', 'label']"
)
  a-router-link-config(
    v-model="model"
    :required="true"
    label="Aloha"
  )
  div model: {{ model }}
