aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_LIST_COMPONENT_DESCRIPTION_"
    )

    page-list-basic

    page-list-tag

    page-list-key-children

    page-list-is-data-simple-array

    page-list-is-html

    page-list-separator

    page-list-separator-html

    page-list-class-group

    page-list-key-label-callback

    page-list-key-id

    page-list-with-slot

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Slots"
      :data="dataSlots"
      :columns="['name', 'description']"
    )
