.a_p_2
  a-table(
    :label="tableLabel"
    :columns="columnsLocal"
    :data="dataTranslated"
    :is-action-column-visible="false"
    :is-pagination="false"
    model-sort="name"
    :is-columns-dnd="false"
    :is-sorting-multi-column="false"
    :show-first-sorting-sequence-number="false"
  )
