aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_INPUT_NUMBER_RANGE_COMPONENT_DESCRIPTION_"
    )

    page-input-number-range-basic
