aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ONE_CHECKBOX_GROUP_INDETERMINATE_HEADER_"
  description="_A_ONE_CHECKBOX_GROUP_INDETERMINATE_DESCRIPTION_"
  :props="['indeterminate']"
)
  a-one-checkbox(
    v-model="model"
    :indeterminate="true"
    label="Aloha"
  )

