div
  h1 PageAccordion
  h2 without alwaysOpen
  a-accordion(
    :items="items"
  )

  h2 with alwaysOpen
  a-accordion(
    :items="items"
    :always-open="true"
    :with-gap="true"
    :indexes-for-open-default="['0', '0.0', '1']"
  )
    template(
      v-slot:aloha="{ item }"
    )
      pre {{ item }}

  h2 with Slots
  a-accordion(
    :items="items"
    key-label=""
    key-content=""
  )
    template(
      v-slot:accordionButton="{ item, itemIndex }"
    )
      span {{ item.label }}
        strong index: {{ itemIndex }}

    template(
      v-slot:accordionContent="{ item, itemIndex }"
    )
      strong {{ item.content }}

  h2 readonly
  a-accordion(
    :items="items"
    :readonly="true"
    :is-caret="false"
    class-button="a_color_link"
  )
