div
  h1 ATabs
  a-tabs(
    :data="dataTabs1"
  )
  br
  a-tabs(
    :data="dataTabs1"
    :is-boxed="true"
  )
  br
  a-tabs.a_tabs_small(
    :data="dataTabs1"
    :is-boxed="true"
  )
  br
  a-tabs.a_tabs_medium(
    :data="dataTabs1"
    :is-boxed="true"
  )
  br
  a-tabs.a_tabs_large(
    :data="dataTabs1"
    :is-boxed="true"
  )
