aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_TABS_COMPONENT_DESCRIPTION_"
    )

    page-tabs-basic

    page-tabs-disabled

    page-tabs-key-disabled

    page-tabs-key-label

    page-tabs-key-content

    page-tabs-key-title

    page-tabs-title-html

    page-tabs-is-boxed

    page-tabs-is-vertical

    page-tabs-key-id

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )
