div
  h1 ATabs
  a-tabs(
    :data="dataTabs1"
    :index-active-tab="1"
  )
  br
  a-tabs(
    :data="dataTabs1"
    :is-boxed="true"
  )
  br
  a-tabs.a_tabs_small(
    :data="dataTabs1"
    :is-boxed="true"
  )
  br
  a-tabs.a_tabs_medium(
    :data="dataTabs1"
    :is-boxed="true"
  )
  br
  a-tabs.a_tabs_large(
    :data="dataTabs1"
    :is-boxed="true"
  )
  h2 Vertical
  a-tabs.a_tabs_large(
    :data="dataTabs1"
    :is-boxed="false"
    :is-vertical="true"
  )
  a-tabs.a_tabs_large(
    :data="dataTabs1"
    :is-boxed="true"
    :is-vertical="true"
  )
  h2 With Slots
  a-tabs(
    :data="dataTabs2"
    :is-boxed="true"
  )
    template(
      v-slot:tab="{ tab }"
    )
      span {{ tab }}

    template(
      v-slot:content="{ tab }"
    )
      span {{ tab }}
