aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_TABS_COMPONENT_DESCRIPTION_"
    )

    page-cloak-basic

    page-cloak-align

    page-cloak-text-align

    page-cloak-sizes

    page-cloak-text

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
