aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    page-table-sort-example

    page-table-sort-start

    page-table-sort-disabled

    page-table-sort-multi-column

    page-table-sort-multi-column-first-number

    page-table-sort-multi-column-key

    page-table-sort-sequence-number-class
