aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_GROUP_BUTTON_DROPDOWN_GROUP_DISABLED_HEADER_"
  description="_A_GROUP_BUTTON_DROPDOWN_GROUP_DISABLED_DESCRIPTION_"
  :props="['disabled']"
)
  a-group-button-dropdown(
    :actions="actions"
    :index-first-dropdown-action="2"
    :index-first-dropdown-action-mobile="2"
    :disabled="true"
  )
  a-group-button-dropdown(
    class="a_mt_3"
    :actions="actions"
    :index-first-dropdown-action="1"
    :index-first-dropdown-action-mobile="1"
    :disabled="true"
  )
