aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_A_CHECKBOX_COMPONENT_DESCRIPTION_"
    )

    page-checkbox-basic

    page-checkbox-change

    page-checkbox-help-text

    page-checkbox-error

    page-checkbox-label-screen-reader

    page-checkbox-group

    page-checkbox-search

    page-checkbox-key-disabled

    page-checkbox-translate-data

    page-checkbox-is-button-group

    page-checkbox-collapse

    page-checkbox-data-extra

    page-checkbox-inline

    page-checkbox-has-control-checkbox

    page-checkbox-two-columns

    page-checkbox-has-border

    page-checkbox-is-data-simple-array

    page-checkbox-is-width-auto

    page-checkbox-key-label-callback

    page-checkbox-key-title

    page-checkbox-sort-order

    page-checkbox-sort-order-group

    aloha-table-props(
      :data="dataProps"
    )

    aloha-table-props(
      table-label="Events"
      :data="dataEvents"
      :columns="['name', 'type', 'description']"
    )

    aloha-table-translate(
      :data="dataTranslate"
    )
