aloha-example(
  :code-html="codeHtml"
  :code-js="codeJs"
  header="_A_ALERT_GROUP_SLOT_HEADER_"
  description="_A_ALERT_GROUP_SLOT_DESCRIPTION_"
  slots="default"
)
  a-alert(
    :is-visible="true"
    type="success"
  )
    ul
      li Aloha 1
      li Aloha 2
      li Aloha 3
      li Aloha 4
