aloha-page(
  :page-title="pageTitle"
)
  template(
    v-slot:body
  )
    a-translation(
      tag="p"
      html="_PAGE_FILTER_FLOAT_DESCRIPTION_"
    )

    page-filter-import-function(
      function-name="filterFloat"
    )

    page-filter-float-import-composition-api

    page-filter-float-arguments

    page-filter-float-example

    page-filter-float-suffix

    page-filter-float-digits

    page-filter-float-digit-grouping
